$main-blue: #33c4e8;

$heading-color: #dfe0e6;
$subtitle-color: #999;
$font-color: #cecfd5;

$nav-color: #414142;
$nav-dark-highlight-color: #1c1c1d;
$nav-light-highlight-color: #272727;
$main-section-color: #525354;

$link-visited-color: #399ec6;
$code-back-color: #383838;
$code-fore-color: #cecfd5;