@import "compass";
@import "colors";
@import "sizes";

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

/*
 * Globals
 */

body {
  color: $font-color;
  background-color: $main-section-color;
  width: 99%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  font-family: $font-stack;
  font-weight: normal;
  color: $heading-color;
}

a {
  color: $main-blue;

  &:visited {
    color: $link-visited-color;
  }
  &:hover {
    color: $link-visited-color;
  }
}

code {
  background-color: $code-back-color;
  color: $code-fore-color;
}

/* Override Bootstrap's default container. */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Sections
 */

.masthead {
  position: fixed;
  top: 0;
  width: 100%;
  height: $masthead-height;
  background-color: $main-blue;
  z-index: 4;
}


.header {
  padding-top: $masthead-height;
  padding-bottom: 20px;
  padding-left: 15px;
}
.title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.subtitle {
  font-size: 20px;
  color: #999;
}

.row {
  margin-left: 270px;
}


.main-container {
  font-size: 18px;
  line-height: 1.5;
  width: 95%;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: $subtitle-color;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

