@import "util";

$nav-font-stack: 'Anton', sans-serif;
$small-pic-diameter: 100px;

#zach_pic {
  $pic-margin: 5px;
  margin: $pic-margin;
  width: $small-pic-diameter - 2*$pic-margin;
  height: $small-pic-diameter - 2*$pic-margin;
}

#pic-wrapper {
  display: flex;
  justify-content: center;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: $nav-width;
  top: $masthead-height-small;

  width: 0;
  height: 100%;
  margin-left: -1 * $nav-width;
  overflow-y: auto;
  transition: all 0.5s ease;
  background-color: $nav-color
}

.sidebar-nav {
  background-color: $nav-color;
  margin: $small-pic-diameter 0 0 0;
  position: absolute;
  top: 0;
  width: $nav-width;
  padding: 0;
  list-style: none;

  li {
    text-indent: 20px;
    line-height: 40px;

    a {
      display: block;
      text-decoration: none;
      padding: 0 auto 0 auto;
      margin: 0 auto 0 auto;

      color: white;
      font-size: x-large;
      font-family: $nav-font-stack;

      &.active {
        background-color: $nav-light-highlight-color;
        // Avoid hairline darker vertical line at the edge of the nav
        width: 101%;
      }

      &:hover {
        background-color: $nav-dark-highlight-color;
      }
    }
  }
}

/*
 * Toggle nav side bar visibility
 */
@media(orientation: landscape) {
  #page-wrapper {
    padding-left: $nav-width;

    &.toggled {
      padding-left: 0;

      #sidebar-wrapper {
        width: 0;
      }
    }
  }

  #page-content-wrapper {
    position: relative;
    margin-top: $masthead-height;
  }

  $large-pic-diameter: $nav-width;
  #sidebar-wrapper {
    width: $large-pic-diameter;
    top: $masthead-height;
  }

  .sidebar-nav {
    margin-top: $large-pic-diameter;
  }

  #zach_pic {
    $pic-margin: 15px;
    margin: $pic-margin;
    width: $large-pic-diameter - 2*$pic-margin;
    height: $large-pic-diameter - 2*$pic-margin;
  }

  .masthead {
    height: $masthead-height;
  }

  // Nav toggle button
  #toggle {
    display: none;
  }
}

