@import "colors";

.schedule {
  margin: 0 0 40px 0;
  padding: 0;
  font-family: "HelveticaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #464646;
  background-color: white;

  h2 {
    display: inline;
    vertical-align: middle;

  }

  .schedule-details {
    display: none;
    padding-top: 5px;

    p {
      margin-bottom: 10px;
    }
  }
}

.schedule-table {
  position: relative;
  margin-top: 20px;

  table {
    width: 620px;
    table-layout: fixed;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0;
  }

  td, th {
    padding: 0;
    box-sizing: border-box;
    line-height: 17px;
    text-align: left;
    vertical-align: top;
  }

  thead th {
    width: 110px;
    padding: 5px;
    background: #292929;
    color: #fff;
    text-align: center;
    vertical-align: bottom;
    -webkit-print-color-adjust: exact;
  }

  thead th.time {
    width: 70px;
  }

  tbody {
    td, th {
      border-bottom: 1px solid #9a9a9a;
      border-right: 1px solid #9a9a9a;
    }

    td {
      background: #ededed;
    }

    th {
      text-align: center;
      background: #cecece;
      height: 48px;
      line-height: 48px;
      white-space: nowrap;
      border-left: 1px solid #9a9a9a;
      font-weight: normal;
      font-size: 13px;
      -webkit-print-color-adjust: exact;
    }
  }

  .course-name {
    font-weight: bold;
  }

  .course-text {
    display: table-cell;
    vertical-align: middle;
  }

  .dayM, .dayT, .dayW, .dayR, .dayF {
    position: absolute;
    width: 111px;
    top: 0;
    text-align: center;
    box-sizing: border-box;
    display: table;
  }

  .dayM {
    left: 70px;
  }
  .dayT {
    left: 180px;
  }
  .dayW {
    left: 290px;
  }
  .dayR {
    left: 400px;
  }
  .dayF {
    left: 510px;
  }

  .color0 {
    border: 1px solid #0D47A1;
    background-color: #2196F3;
    color: $light-white;
  }
  .color1 {
    border: 1px solid #FF6F00;
    background-color: #FFC107;
    color: $light-black;
  }
  .color2 {
    border: 1px solid #B71C1C;
    background-color: #F44336;
    color: $light-white;
  }
  .color3 {
    border: 1px solid #1B5E20;
    background-color: #4CAF50;
    color: $light-black;
  }
  .color4 {
    border: 1px solid #4A148C;
    background-color: #9C27B0;
    color: $light-white;
  }
  .color5 {
    border: 1px solid #004D40;
    background-color: #009688;
    color: $light-white;
  }
  .color6 {
    border: 1px solid #880E4F;
    background-color: #E91E63;
    color: $light-white;
  }
}

div.schd-section-time-dow {
  display: inline-block;
  width: 25px;
  text-align: center;
}

input.schd-section-time-dow {
  width: 25px;
  margin: 0;
  padding: 0;

}

input.sec-num {
  width: 100px;
}

div.schd-sections {
  margin-left: 30px;
  margin-top: 20px;
  min-width: 550px;

  div.schd-section {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    div.schd-section-times {
      min-width: inherit;

      .schd-add-time, .schd-rmv-time {
        margin-top: 10px;
      }

      div.schd-section-time {
        width: 500px;
        display:flex;
        align-items:center;

        select {
          color: $nav-color;
        }

        select.ampm {
          background-color: $subtitle-color;
        }
      }
    }

    &.alt {
      background-color: $nav-color;
      min-width: inherit;
      margin-top: 20px;
    }

  }

  button.schd-add-section {
    margin-top: 20px;
  }
  button.schd-rmv-section {
    margin-top: 20px;
  }

}

.clear {
  clear: both;
}


div.schd-course {
  padding-top: 30px;
}

.schd-add-course, .schd-rmv-course, #make-schedules {
  margin-top: 30px;
}








.schedule-table thead tr > th:first-child {
  border-left: 1px solid #292929;
}

.schedule-table thead tr > th:last-child {
  border-right: 1px solid #292929;
}








