.schedule {
  margin: 0 0 40px 0;
  padding: 0;
  font-family: "HelveticaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #464646;
  background-color: #ffffff;

  h2 {
    display: inline;
    vertical-align: middle;

  }

  .schedule-details {
    display: none;
    padding-top: 5px;

    p {
      margin-bottom: 10px;
    }
  }
}

.schedule-table {
  position: relative;
  margin-top: 20px;

  table {
    width: 620px;
    table-layout: fixed;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0;
  }

  td, th {
    padding: 0;
    box-sizing: border-box;
    line-height: 17px;
    text-align: left;
    vertical-align: top;
  }

  thead th {
    width: 110px;
    padding: 5px;
    background: #292929;
    color: #fff;
    text-align: center;
    vertical-align: bottom;
    -webkit-print-color-adjust: exact;
  }

  thead th.time {
    width: 70px;
  }

  tbody {
    td, th {
      border-bottom: 1px solid #9a9a9a;
      border-right: 1px solid #9a9a9a;
    }

    td {
      background: #ededed;
    }

    th {
      text-align: center;
      background: #cecece;
      height: 48px;
      line-height: 48px;
      white-space: nowrap;
      border-left: 1px solid #9a9a9a;
      font-weight: normal;
      font-size: 13px;
      -webkit-print-color-adjust: exact;
    }
  }

  .course-name {
    font-weight: bold;
  }

  .course-text {
    display: table-cell;
    vertical-align: middle;
  }

  .dayM, .dayT, .dayW, .dayR, .dayF {
    position: absolute;
    width: 111px;
    top: 0;
    text-align: center;
    box-sizing: border-box;
    display: table;
  }

  .dayM {
    left: 70px;
  }
  .dayT {
    left: 180px;
  }
  .dayW {
    left: 290px;
  }
  .dayR {
    left: 400px;
  }
  .dayF {
    left: 510px;
  }

  .color0 {
    border: 1px solid #805e00;
    background-color: #ffba00;
  }
  .color1 {
    border: 1px solid #406c78;
    background-color: #77c8df;
  }
  .color2 {
    border: 1px solid #6e2169;
    background-color: #ff74f7;
  }
  .color3 {
    border: 1px solid #898c31;
    background-color: #f8ff42;
  }
  .color4 {
    border: 1px solid #306612;
    background-color: #78d446;
  }
  .color5 {
    border: 1px solid #564a80;
    background-color: #ad94ff;
  }
  .color6 {
    border: 1px solid #803c2e;
    background-color: #ff775c;
  }
}

.schedule-table thead tr > th:first-child {
  border-left: 1px solid #292929;
}

.schedule-table thead tr > th:last-child {
  border-right: 1px solid #292929;
}








