/*
 * Globals
 */

body {
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
    color: #cecfd5;
    background-color: #525354; /*fbf7e0*/
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #dfe0e6;
}

a {
    color: #33c4e8;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}


/*
 * Bar at the top of the page
 */

.blog-masthead {
    position: fixed;
    top: 0;
    width: 100%;
    color: #ffffff;
    height: 100px;
    text-align: center;
    padding-top: 15px;
    background-color: rgba(51, 196, 232, 1);
    color: rgba(51, 196, 232, 1);
    z-index: 4;
}
#navigation a {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    text-decoration: none;
    width: 250px;
}


.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
    padding-top: 100px;
    padding-bottom: 20px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
    color: #999;
}

.row {
    margin-left: 270px;

}


/*
 * Main column and sidebar layout
 */
.blog-main {
    font-size: 18px;
    line-height: 1.5;
    width: 95%;
}

/* Sidebar modules for boxing content */

.blog-sidebar {
    background-color: #414142;
    margin-left: 0%;
    margin-top: 100px;
    height: 100%;
    position: fixed;
    left: 0px;
    width: 250px;
}

.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #838383;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

.zach_pic {
    width: 250px;
}

a.nav_link {
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: x-large;
}

a.nav_link:hover{
    text-decoration: none;
}

div.nav_link {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

div.nav_link:hover {
    background-color: #1c1c1d;
}


/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}
.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}


/*
 * Footer
 */

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}
