<div class="header">
    <h1 class="title">{{ title }}</h1>
    <p class="lead subtitle">{{ subtitle }}</p>
</div>

<div class="col-sm-8 main-container">
    <p>
        Most recently, I have put a great deal of time into improving my web development skills, through creating this website.
        I created everything you see here using a variety of frameworks and libraries.  First and foremost, this site is
        built using Google's Angular framework.  Angular is such a vast framework that I feel as though I have still only
        scratched the surface, however I have incorporated Angular templates, directives, scopes, filters, controllers,
        and most notibly UI routing.  Additionally, I'm using Bootstrap for style, Showdown for markdown parsing,
        Photoswipe for displaying photographs, and Compass for cleaner and more modular CSS.  You may be able to see the
        new things I've been toying with by viewing the <a href="http://poste.nz/beta">beta version</a> of my site, or
        perusing <a href="https://github.com/zposten/postenz_web">the source on GitHub</a>
    </p>

</div>
