<div class="header">
    <h1 class="title">{{ title }}</h1>
    <p class="lead subtitle">{{ subtitle }}</p>
</div>

<div class="col-sm-8 main-container">

    <div>
        iOS posts
        <ul>
            <li><a ui-sref="blog.one">First</a></li>
            <li><a ui-sref="blog.two">Second</a></li>
        </ul>
    </div>

    <div ui-view></div>


    <nav>
        <ul class="pager">
            <li><a ui-sref="blog.one">Previous</a></li>
            <li><a ui-sref="blog.two">Next</a></li>
        </ul>
    </nav>

</div>