// Bootstrap breakpoints
$screen-sm-min: 544px;
$screen-md-min: 768px;
$screen-lg-min: 992px;


$masthead-height: 75px;
$masthead-height-small: 50px;

$nav-width: 240px;
$hide-sidebar-width: $screen-md-min;
