@import "../util";

figure {
  display: block;
}

.zimg {
  max-height: 200px;
  height: 200px;
  width: auto;
  border: 0;
}

a.zimg > img {
  height: 100%;
}

.section--head p {
  color: #666;
}

.section {
  width: 100%;
  margin-top: 176px;
}

.section--head {
  margin: 0;
  background: #EEE;
  padding: 132px 0;
}

img.img--with_border {
  border: 1px solid #DDD;
  border-radius: 2px;
}

.img-desc {
  margin-left: 212px;
}

//.demo-gallery {
//  // Set child to 100% of the viewport width, or 100 vw, with compensation for nav
//  width: calc(100vw - 320px);
//
//  // Then move the child to the left by the difference between the half paren's width
//  // (because we're only adjusting the left side) and the viewport width, with
//  // compensation for the nav.
//  left: calc(50% - 50vw + 180px);
//  height: auto;
//  float: left;
//  padding-left: 0;
//}

.demo-gallery {
  width: calc(100vw - 320px);
  height: auto;
  float: left;
  padding-left: 0;
  position: absolute;
  left: $nav-width + 40px;

  @include media($media-hide-nav) {
    left: 20px;
    width: 100%;
  }
}

.demo-gallery a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  line-height: 0;
}

a.demo-gallery__img--main {
  width: auto;
  height: auto;
}


.demo-gallery figure {
  display: none;
}

.demo-gallery__title {
  line-height: 14px;
  font-size: 14px;
  opacity: 0.8;
  margin-top: 5px;
  width: 100%;
  float: left;
}

.share-buttons h2 {
  text-align: center;
  border: 0;

}
.share-buttons {
  text-align: center;
  position: relative;
  margin: 0 0 24px;
}
.share-buttons a {
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  color: #FFF;
  text-decoration: none;
  background: #5AAF63;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}
.share-buttons a:hover {
  opacity: 0.7;
}
#tweet {
  background: #0096c4;
}
#like {
  background: #3b5998;
}
#gplus {
  background: #d34836;
}



@media screen and (max-width: 1000px) {
  .row--wide {
    max-width: 800px;
  }
  .row--wide img {
    float: none;
  }
  .img-desc {
    margin-left: 0;
  }
  .section {
    margin-top: 132px;
  }
  .section--head {
    margin-top:0;
    padding: 30px 0;
  }
  .row--nav {
    font-size: 24px;
    line-height: 1.1;
  }
}



@media screen and (max-width: 650px) {
  .block__ui-separated .col-50 {
    position: relative;
    top: 0;
  }
  .block__ui-separated img {
    max-width: 100%;
    width: 100%;
    float: left;
  }
}

@media screen and (max-width: 450px) {


  .col-50:nth-child(1) {
    margin-right: 0;
  }
  .row--wide img {
    margin-bottom: 6px;
  }
  .col-50 {
    width: 100%;
    margin-bottom: 12px;
  }
  //.row {
  //  padding: 0 18px;
  //}
  .section {
    margin-top: 88px;
  }
  .docs {
    margin-top: 32px;
  }
  .section--head {
    margin-top:0;
    padding: 24px 0;
  }
}

@media screen and (max-width: 700px) {

  .demo-gallery {
    max-width: 500px;
    left: 0;
  }
  .demo-gallery a {
    width: 120px;
    margin: 0 4px 4px 0;
  }
  a.demo-gallery__img--main {
    width: 164px;
  }
}

@media screen and (max-width: 450px) {
  .demo-gallery a {
    width: 95px;
    margin: 0 1px 1px 0;
  }
  a.demo-gallery__img--main {
    width: 127px;
  }
}


@media screen and (max-width: 350px) {
  .demo-gallery a {
    width: 81px;
    margin: 0 1px 1px 0;
  }
  a.demo-gallery__img--main {
    width: 109px;
  }
}





