// Application Specific Colors
$main-blue: #2196F3;
$main-blue-lighter: #64B5F6;
$main-blue-darker: #1565C0;

$heading-color: #dfe0e6;
$subtitle-color: #999;
$font-color: #cecfd5;

$nav-color: #181818;//#414142;
$nav-dark-highlight-color: #404040;//#1c1c1d;
$nav-light-highlight-color: #282828;//#272727;

$main-section-color: #282828;//#525354;
$main-section-highlight-color: #383838;//#4C4C4C;

$link-color: $main-blue;
$link-visited-color: $main-blue-lighter;
$link-hover-color: $main-blue-darker;


$code-back-color: #383838;
$code-fore-color: #cecfd5;

$schd-back-color: #e5e5e5;
$schd-left-color: #c7c7c7;

// General Colors
$light-black: rgba(0, 0, 0, 0.87);
$light-white: rgba(255, 255, 255, 0.87);
$off-black: #242424;
$off-white: #F1F1F1;
$fifty-percent-gray: #808080;

// Google Material Design Colors
$blue: #2196F3;
$dark-blue: #0D47A1;
$amber: #FFC107;
$dark-amber: #FF6F00;
$red: #F44336;
$dark-red: #B71C1C;
$green: #4CAF50;
$dark-green: #1B5E20;
$purple: #9C27B0;
$dark-purple:  #4A148C;
$teal: #009688;
$dark-teal: #004D40;
$pink: #E91E63;
$dark-pink: #880E4F;
