<div class="row center-row">
    <div class="col s12">

        <div class="header row">
            <h1 class="title">{{ title }}</h1>
            <p class="subtitle">{{ subtitle }}</p>
        </div>

        <p>
            Most recently, I have put a great deal of time into improving my web development
            skills, through creating this website. I created everything you see here using a
            variety of frameworks and libraries.
        </p>
        <p>
            First and foremost, this site is built using Google's Angular framework. Angular is exceptionally useful
            is so many different ways. A couple of my personal favorites are ui-routing and directives. UI-routing
            is pervasive on this site. Every time the url changes, the site is put in a different state. UI-routing
            allows for the nesting of views, which is what I've used to create this single page application. Directives
            allow for convenient DRY code, so that the repetition of common snippets can be removed.
        </p>
        <p>
            I'm using Materialize for a material, responsive design. I prefer the Materialize grid over the Bootstrap
            one because it doesn't require much text to be inserted into the markup. Take for example a column that
            should be a quarter of the page width on large screens, half on medium screens, and full screen on small
            screens:
        </p>
        <pre>
            &lt;div class="col-lg-3 col-md-6 col-sm-12">&lt;/div>&lt;!-- bootstrap -->
            &lt;div class="col l3 m6 s12">&lt;/div>&lt;!-- materialize -->
        </pre>
        <p>
            Fourteen less characters in this small example, thing of the difference that makes to an entire site.
        </p>
        <p>
            Compass for cleaner and more modular CSS
            with SCSS.
        </p>
        <p>
            Showdown for markdown parsing,
            Photoswipe for displaying photographs, and
        </p>


        <p>... More details to come</p>

    </div>
</div>