<div class="row center-row">
    <div class="col s12">

        <div class="header row">
            <h1 class="title">{{ title }}</h1>
            <p class="subtitle">{{ subtitle }}</p>
        </div>

        <p>
            Most recently, I have put a great deal of time into improving my web development
            skills, through creating this website. I created everything you see here using a
            variety of frameworks and libraries. First and foremost, this site is built using
            Google's Angular framework. Angular is such a vast framework that I feel as though
            I have still only scratched the surface, however I have incorporated Angular
            templates, directives, scopes, filters, controllers, and most notably UI routing.
            Additionally, I'm using Bootstrap for style, Showdown for markdown parsing,
            Photoswipe for displaying photographs, and Compass for cleaner and more modular CSS
            with SCSS.
        </p>

        <p>... More details to come</p>

    </div>
</div>