<div class="header">
    <h1 class="title">{{ title }}</h1>
    <!--<p class="lead subtitle">{{ subtitle }}</p>-->
    <p class="lead subtitle" ng-bind-html="subtitle"></p>
</div>

<div class="col-sm-8 main-container">

    <div>
        <a ui-sref="recipes">Recipes</a>
        <br/>

        iOS posts
        <ul>
            <li><a ui-sref="blog.post({blogPostId: 1})">iOS UI Creation Methods</a></li>
            <li><a ui-sref="blog.post({blogPostId: 2})">Break Statements</a></li>
            <li><a ui-sref="blog.post({blogPostId: 3})">Hash Symbol</a></li>
            <li><a ui-sref="blog.post({blogPostId: 4})">Static Data Storage</a></li>
            <li><a ui-sref="blog.post({blogPostId: 5})">UIPopoverController</a></li>
            <li><a ui-sref="blog.post({blogPostId: 6})">Transfer Delegate Selection to Parent</a></li>
            <li><a ui-sref="blog.post({blogPostId: 7})">Variable Initialization</a></li>

        </ul>
    </div>

    <div ui-view></div>


    <nav>
        <ul class="pager">
            <li class="prev">Previous</li>
            <li class="next">Next</li>
        </ul>
    </nav>



</div>