<div class="header">
    <h1 class="title">{{ title }}</h1>
    <p class="lead subtitle">{{ subtitle }}</p>
</div>

<div class="col-sm-8 main-container">

    <ul>
        <li>Location:  <a href="https://www.google.com/maps/@37.6,-95.665,4z?q=milwaukee+wi">Milwaukee, WI</a></li>
        <li>Connect with me on <a href="http://linkedin.com/in/zachposten">LinkedIn</a></li>
        <li>Fork my projects on <a href="https://github.com/zposten">GitHub</a></li>
        <li>Up-vote my answers on <a href="http://stackoverflow.com/users/2517147/zposten">StackOverflow</a></li>
        <li>If I know you personally, add me on <a href="https://www.facebook.com/zach.posten">Facebook</a></li>
    </ul>
</div>