<div class="row center-row">
    <div class="col-lg-9 col-xs-11">

        <div class="header row">
            <h1 class="title">{{ title }}</h1>
            <p class="lead subtitle">{{ subtitle }}</p>
        </div>

        <div class="row">
            <div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
                <a class="hvr-pulse" href="https://www.google.com/maps/@37.6,-95.665,4z?q=milwaukee+wi">
                    <img src="../../assets/soc-media-icons/maps.png" width="138" height="138" class="social-icon"/>
                </a>

                <a class="hvr-pulse" href="http://linkedin.com/in/zachposten">
                    <img src="../../assets/soc-media-icons/linkedin.png" width="138" height="138" class="social-icon"/>
                </a>

                <a class="hvr-pulse" href="https://github.com/zposten">
                    <img src="../../assets/soc-media-icons/github.png" width="138" height="138" class="social-icon"/>
                </a>

                <a class="hvr-pulse" href="http://stackoverflow.com/users/2517147/zposten">
                    <img src="../../assets/soc-media-icons/stack.png" width="138" height="138" class="social-icon"/>
                </a>

                <a class="hvr-pulse" href="https://www.facebook.com/zach.posten">
                    <img src="../../assets/soc-media-icons/facebook.png" width="138" height="138" class="social-icon"/>
                </a>
            </div>
        </div>

    </div>
</div>

