<div class="header">
    <h1 class="title">{{ title }}</h1>
    <p class="lead subtitle">{{ subtitle }}</p>
</div>

<div class="col-sm-8 main-container">

    <p>
        For those of you who don't know me, my name is Zach.  For those of you who do know me, my name is still Zach.
        I am currently a senior at MSOE, and will be graduating in May of 2016.  My degree will be in Software Engineering,
        but at my core I am a problem solver.  I love puzzles in all forms, and an constantly looking for new challenges.
    </p>
    <p>
        Through my four years at MSOE I have touched on a wide range of technologies including Java, web apps, databases,
        C#, python, network protocols, beaglebone, both mobile platforms, and many others.  However, my particular interests
        lie in application and user interface development.  I enjoy working on the pieces of a system that non-programmers
        use to do their work, and interacting with these people in order to find out more about how they use the system
        and how I can improve it for them.  User interfaces are a particular interest of mine because I believe that it
        combines my programming and graphic design abilities in a very unique way.
    </p>
    <p>
        For those interested in a more details about my technical proficiencies, my resume can be found
        <a href="{{ resumeUrl }}">here</a>.  Please note that I have censored some of my personal
        information from this online document.
    </p>
    <p>
        That's all for my elevator pitch!  Want to learn more? Check out <a ui-sref="bio">my bio</a>!
    </p>
</div>
