<div class="row center-row">
    <div class="col-xs-12 col-lg-9">

        <div class="header row">
            <h1 class="title">{{ title }}</h1>
        </div>

        <div class="row"><p>{{ description }}</p></div>

        <div id="iir-container" class="row">
            <form role="form">
                <div class="form-group">
                    <label for="iir-topic">The topic in question:</label>
                    <input type="text" class="form-control" id="iir-topic" placeholder="Enter your topic here">
                </div>
                <button class="btn btn-default" onclick="iir.generate()">Submit</button>
            </form>

            <br/><br/>
            <h2 id="iir-response"></h2>
        </div>

    </div>
</div>
