<div class="header">
    <h1 class="title">{{ title }}</h1>
</div>

<div class="col-sm-8 main-container">

    <p>{{ description }}</p><br><br>

    <div id="schd-courses" >
        <div class="schd-course">

            <label style="font-size: 25px">Course</label>
            <input type="text" class="form-control course" placeholder="Course Name">

            <div class="schd-section">
                <div class="schd-section alt">
                    <input class="sec-num form-control col-md-6" type="text" placeholder="Section #">

                    <div class="schd-section-times col-md-6">
                        <div select-time></div>
                        <div select-time></div>
                        <button class="btn btn-default add-time">Add Time</button>
                    </div>
                    <br>
                    <div class="clear"></div>
                </div>

                <button class="btn btn-default schd-add-section">Add Section</button>
            </div>
            <button class="btn btn-default schd-add-course">Add Course</button>
        </div>
    </div>










    <br><br><br><br><br><br><br><br><br><br><br><br>

    <div id="schedule-wrapper" style="width: 621px"></div>

    <script>
        $(document).ready(function () {
            var input = JSON.parse('[ { "name": "Cloud Computing", "number": "CS 4230", "sections": [ { "number": "011", ' +
                    '"sessions": [ { "dows": [1, 5], "startTime": "4:00 PM", "endTime": "4:50 PM" },  { "dows": [2], "startTime": ' +
                    '"3:00 PM", "endTime": "4:50 PM" } ] },  { "number": "012", "sessions": [ { "dows": [1, 2], "startTime": ' +
                    '"4:00 PM", "endTime": "4:50 PM" },  { "dows": [4], "startTime": "3:00 PM", "endTime": "4:50 PM" } ] } ] },  ' +
                    '{ "name": "Complex Variables", "number": "MA 381", "sections": [ { "number": "001", "sessions": [ { "dows": [' +
                    '2, 3, 4], "startTime": "2:00 PM", "endTime": "2:50 PM" } ] } ] } ]'
            );
            var scheduler = new window.Scheduler(input);
            $('div#schedule-wrapper').html(scheduler.makeSchedules());


            $('button.add-section').click(function () {
//                $(this).
//                http://stackoverflow.com/questions/5156790/creating-a-dynamic-html-form
            })


        });

    </script>

</div>