<div class="schd-section-time" ng-init="days=['M','T','W','R','F']">
    <div class="dow-wrapper">
        <div class="schd-section-time-dow" ng-repeat="day in days">{{day}}</div>
        <br>
        <input class="schd-section-time-dow" type="checkbox" name="c1-s1-dow" value="{{day}}" ng-repeat="day in days">
    </div>

    <div ng-init="hours=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
        <select class="schd-section-time-hour">
            <option class="hour" ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
        </select>
        <select class="schd-section-time-hour">
            <option value="am">AM</option>
            <option value="pm">PM</option>
        </select>
        to
        <select class="schd-section-time-hour">
            <option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
        </select>
        <select class="schd-section-time-hour">
            <option value="am">AM</option>
            <option value="pm">PM</option>
        </select>
    </div>
</div>