<nav class="top-nav">
    <!--<div class="container">-->
        <!--<div class="nav-wrapper"><a class="page-title">SideNav</a></div>-->
    <!--</div>-->
</nav>

<a id="menu-button" data-activates="side-nav"
   href="#"
   class="button-collapse top-nav full hide-on-large-only">
    <i class="material-icons">menu</i>
</a>

<ul id="side-nav" class="side-nav fixed" style="overflow: auto; transform: translateX(0%);">
    <li><div id="pic-wrapper"><img  id="zach-pic" src="../../assets/zach-circle-web.png"/></div></li>
    <li id="nav-home"   ><a ui-sref="home"            class="waves-effect waves-light">HOME</a></li>
    <li id="nav-contact"><a ui-sref="contact"         class="waves-effect waves-light">CONTACT</a></li>
    <li id="nav-blog"   ><a ui-sref="blog.categories" class="waves-effect waves-light">BLOG</a></li>
    <li id="nav-photos" ><a ui-sref="photos"          class="waves-effect waves-light">PHOTOGRAPHY</a></li>
    <li id="nav-apps"   ><a ui-sref="apps"            class="waves-effect waves-light">APPLETS</a></li>
</ul>