/* line 3, ../sass/markdown.scss */
.markdown-body {
  width: 45em;
  margin: 16px auto;
  padding: 30px;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

/* line 17, ../sass/markdown.scss */
.markdown-body a:active,
.markdown-body a:hover {
  outline: 0;
}

/* line 22, ../sass/markdown.scss */
.markdown-body b,
.markdown-body strong {
  font-weight: bold;
}

/* line 27, ../sass/markdown.scss */
.markdown-body mark {
  background: #ff0;
  color: #cecfd5;
  font-style: italic;
  font-weight: bold;
}

/* line 34, ../sass/markdown.scss */
.markdown-body sub,
.markdown-body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 41, ../sass/markdown.scss */
.markdown-body sup {
  top: -0.5em;
}

/* line 44, ../sass/markdown.scss */
.markdown-body sub {
  bottom: -0.25em;
}

/* line 48, ../sass/markdown.scss */
.markdown-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 53, ../sass/markdown.scss */
.markdown-body img {
  border: 0;
}

/* line 57, ../sass/markdown.scss */
.markdown-body hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 63, ../sass/markdown.scss */
.markdown-body pre {
  overflow: auto;
}

/* line 67, ../sass/markdown.scss */
.markdown-body code,
.markdown-body kbd,
.markdown-body pre,
.markdown-body samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 75, ../sass/markdown.scss */
.markdown-body input {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 81, ../sass/markdown.scss */
.markdown-body html input[disabled] {
  cursor: default;
}

/* line 85, ../sass/markdown.scss */
.markdown-body input {
  line-height: normal;
}

/* line 89, ../sass/markdown.scss */
.markdown-body input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 94, ../sass/markdown.scss */
.markdown-body table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 99, ../sass/markdown.scss */
.markdown-body td,
.markdown-body th {
  padding: 0;
}

/* line 104, ../sass/markdown.scss */
.markdown-body .codehilitetable {
  border: 0;
  border-spacing: 0;
}

/* line 109, ../sass/markdown.scss */
.markdown-body .codehilitetable tr {
  border: 0;
}

/* line 113, ../sass/markdown.scss */
.markdown-body .codehilitetable pre,
.markdown-body .codehilitetable div.codehilite {
  margin: 0;
}

/* line 118, ../sass/markdown.scss */
.markdown-body .linenos,
.markdown-body .code,
.markdown-body .codehilitetable td {
  border: 0;
  padding: 0;
}

/* line 125, ../sass/markdown.scss */
.markdown-body td:not(.linenos) .linenodiv {
  padding: 0 !important;
}

/* line 129, ../sass/markdown.scss */
.markdown-body .code {
  width: 100%;
}

/* line 133, ../sass/markdown.scss */
.markdown-body .linenos div pre,
.markdown-body .linenodiv pre,
.markdown-body .linenodiv {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 148, ../sass/markdown.scss */
.markdown-body .code div pre,
.markdown-body .code div {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* line 162, ../sass/markdown.scss */
.markdown-body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 167, ../sass/markdown.scss */
.markdown-body input {
  font: 13px Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
}

/* line 172, ../sass/markdown.scss */
.markdown-body a:hover,
.markdown-body a:focus,
.markdown-body a:active {
  text-decoration: underline;
}

/* line 178, ../sass/markdown.scss */
.markdown-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

/* line 187, ../sass/markdown.scss */
.markdown-body hr:before,
.markdown-body hr:after {
  display: table;
  content: " ";
}

/* line 193, ../sass/markdown.scss */
.markdown-body hr:after {
  clear: both;
}

/* line 197, ../sass/markdown.scss */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}

/* line 208, ../sass/markdown.scss */
.markdown-body h1 {
  font-size: 30px;
}

/* line 212, ../sass/markdown.scss */
.markdown-body h2 {
  font-size: 21px;
}

/* line 216, ../sass/markdown.scss */
.markdown-body h3 {
  font-size: 16px;
}

/* line 220, ../sass/markdown.scss */
.markdown-body h4 {
  font-size: 14px;
}

/* line 224, ../sass/markdown.scss */
.markdown-body h5 {
  font-size: 12px;
}

/* line 228, ../sass/markdown.scss */
.markdown-body h6 {
  font-size: 11px;
}

/* line 232, ../sass/markdown.scss */
.markdown-body blockquote {
  margin: 0;
}

/* line 236, ../sass/markdown.scss */
.markdown-body ul,
.markdown-body ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 243, ../sass/markdown.scss */
.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

/* line 248, ../sass/markdown.scss */
.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

/* line 255, ../sass/markdown.scss */
.markdown-body dd {
  margin-left: 0;
}

/* line 259, ../sass/markdown.scss */
.markdown-body code,
.markdown-body pre,
.markdown-body samp {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

/* line 266, ../sass/markdown.scss */
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 271, ../sass/markdown.scss */
.markdown-body > *:first-child {
  margin-top: 0 !important;
}

/* line 275, ../sass/markdown.scss */
.markdown-body > *:last-child {
  margin-bottom: 0 !important;
}

/* line 279, ../sass/markdown.scss */
.markdown-body .headeranchor-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}

/* line 290, ../sass/markdown.scss */
.markdown-body .headeranchor-link:focus {
  outline: none;
}

/* line 294, ../sass/markdown.scss */
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

/* line 307, ../sass/markdown.scss */
.markdown-body h1 .headeranchor,
.markdown-body h2 .headeranchor,
.markdown-body h3 .headeranchor,
.markdown-body h4 .headeranchor,
.markdown-body h5 .headeranchor,
.markdown-body h6 .headeranchor {
  display: none;
  color: #cecfd5;
  vertical-align: middle;
}

/* line 318, ../sass/markdown.scss */
.markdown-body h1:hover .headeranchor-link,
.markdown-body h2:hover .headeranchor-link,
.markdown-body h3:hover .headeranchor-link,
.markdown-body h4:hover .headeranchor-link,
.markdown-body h5:hover .headeranchor-link,
.markdown-body h6:hover .headeranchor-link {
  height: 1em;
  padding-left: 8px;
  margin-left: -30px;
  line-height: 1;
  text-decoration: none;
}

/* line 331, ../sass/markdown.scss */
.markdown-body h1:hover .headeranchor-link .headeranchor,
.markdown-body h2:hover .headeranchor-link .headeranchor,
.markdown-body h3:hover .headeranchor-link .headeranchor,
.markdown-body h4:hover .headeranchor-link .headeranchor,
.markdown-body h5:hover .headeranchor-link .headeranchor,
.markdown-body h6:hover .headeranchor-link .headeranchor {
  display: inline-block;
}

/* line 340, ../sass/markdown.scss */
.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

/* line 347, ../sass/markdown.scss */
.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

/* line 354, ../sass/markdown.scss */
.markdown-body h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

/* line 359, ../sass/markdown.scss */
.markdown-body h4 {
  font-size: 1.25em;
}

/* line 363, ../sass/markdown.scss */
.markdown-body h5 {
  font-size: 1em;
}

/* line 367, ../sass/markdown.scss */
.markdown-body h6 {
  font-size: 1em;
  color: #777;
}

/* line 372, ../sass/markdown.scss */
.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre,
.markdown-body .admonition {
  margin-top: 0;
  margin-bottom: 16px;
}

/* line 392, ../sass/markdown.scss */
.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}

/* line 397, ../sass/markdown.scss */
.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 405, ../sass/markdown.scss */
.markdown-body li > p {
  margin-top: 16px;
}

/* line 409, ../sass/markdown.scss */
.markdown-body dl {
  padding: 0;
}

/* line 413, ../sass/markdown.scss */
.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

/* line 421, ../sass/markdown.scss */
.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

/* line 426, ../sass/markdown.scss */
.markdown-body blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

/* line 432, ../sass/markdown.scss */
.markdown-body blockquote > :first-child {
  margin-top: 0;
}

/* line 436, ../sass/markdown.scss */
.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

/* line 440, ../sass/markdown.scss */
.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

/* line 448, ../sass/markdown.scss */
.markdown-body table th {
  font-weight: bold;
}

/* line 452, ../sass/markdown.scss */
.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

/* line 467, ../sass/markdown.scss */
.markdown-body img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 484, ../sass/markdown.scss */
.markdown-body code:before,
.markdown-body code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

/* line 490, ../sass/markdown.scss */
.markdown-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

/* line 500, ../sass/markdown.scss */
.markdown-body .codehilite {
  margin-bottom: 16px;
}

/* line 504, ../sass/markdown.scss */
.markdown-body .codehilite pre,
.markdown-body .codehilite pre {
  margin-bottom: 0;
  word-break: normal;
}

/* line 511, ../sass/markdown.scss */
.markdown-body pre {
  word-wrap: normal;
}

/* line 515, ../sass/markdown.scss */
.markdown-body pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

/* line 527, ../sass/markdown.scss */
.markdown-body pre code:before,
.markdown-body pre code:after {
  content: normal;
}

/* Admonition */
/* line 533, ../sass/markdown.scss */
.markdown-body .admonition {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  border-left: 6px solid #333;
  padding: 10px 10px 10px 30px;
}

/* line 543, ../sass/markdown.scss */
.markdown-body .admonition table {
  color: #333;
}

/* line 547, ../sass/markdown.scss */
.markdown-body .admonition p {
  padding: 0;
}

/* line 551, ../sass/markdown.scss */
.markdown-body .admonition:before,
.markdown-body .attention:before,
.markdown-body .caution:before,
.markdown-body .hint:before,
.markdown-body .danger:before,
.markdown-body .question:before,
.markdown-body .note:before {
  font: normal normal 16px fontawesome-mini;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.5;
  color: #333;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 10px;
  padding-left: 10px;
}

/* line 573, ../sass/markdown.scss */
.markdown-body .admonition:before {
  content: "\f056\00a0";
  color: #333;
}

/* line 578, ../sass/markdown.scss */
.markdown-body .attention:before {
  content: "\f058\00a0";
  color: #a6d796;
}

/* line 583, ../sass/markdown.scss */
.markdown-body .caution:before {
  content: "\f06a\00a0";
  color: #d7a796;
}

/* line 588, ../sass/markdown.scss */
.markdown-body .hint:before {
  content: "\f05a\00a0";
  color: #96c6d7;
}

/* line 593, ../sass/markdown.scss */
.markdown-body .danger:before {
  content: "\f057\00a0";
  color: #c25f77;
}

/* line 598, ../sass/markdown.scss */
.markdown-body .question:before {
  content: "\f059\00a0";
  color: #96a6d7;
}

/* line 603, ../sass/markdown.scss */
.markdown-body .note:before {
  content: "\f040\00a0";
  color: #d7c896;
}

/* line 608, ../sass/markdown.scss */
.markdown-body .admonition::after {
  content: normal;
}

/* line 612, ../sass/markdown.scss */
.markdown-body .attention {
  border-left: 6px solid #a6d796;
}

/* line 616, ../sass/markdown.scss */
.markdown-body .caution {
  border-left: 6px solid #d7a796;
}

/* line 620, ../sass/markdown.scss */
.markdown-body .hint {
  border-left: 6px solid #96c6d7;
}

/* line 624, ../sass/markdown.scss */
.markdown-body .danger {
  border-left: 6px solid #c25f77;
}

/* line 628, ../sass/markdown.scss */
.markdown-body .question {
  border-left: 6px solid #96a6d7;
}

/* line 632, ../sass/markdown.scss */
.markdown-body .note {
  border-left: 6px solid #d7c896;
}

/* line 636, ../sass/markdown.scss */
.markdown-body .admonition > *:first-child {
  margin-top: 0 !important;
}

/* line 640, ../sass/markdown.scss */
.markdown-body .admonition > *:last-child {
  margin-bottom: 0 !important;
}

/* progress bar*/
/* line 645, ../sass/markdown.scss */
.markdown-body .progress {
  display: block;
  width: 300px;
  margin: 10px 0;
  height: 24px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ededed;
  position: relative;
  box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* line 658, ../sass/markdown.scss */
.markdown-body .progress-label {
  position: absolute;
  text-align: center;
  font-weight: bold;
  width: 100%;
  margin: 0;
  line-height: 24px;
  color: #333;
  text-shadow: 1px 1px 0 #fefefe, -1px -1px 0 #fefefe, -1px 1px 0 #fefefe, 1px -1px 0 #fefefe, 0 1px 0 #fefefe, 0 -1px 0 #fefefe, 1px 0 0 #fefefe, -1px 0 0 #fefefe, 1px 1px 2px #000;
  -webkit-font-smoothing: antialiased !important;
  white-space: nowrap;
  overflow: hidden;
}

/* line 671, ../sass/markdown.scss */
.markdown-body .progress-100plus .progress-bar {
  background-color: #a6d796;
}

/* line 675, ../sass/markdown.scss */
.markdown-body .progress-80plus .progress-bar {
  background-color: #c6d796;
}

/* line 679, ../sass/markdown.scss */
.markdown-body .progress-60plus .progress-bar {
  background-color: #d7c896;
}

/* line 683, ../sass/markdown.scss */
.markdown-body .progress-40plus .progress-bar {
  background-color: #d7a796;
}

/* line 687, ../sass/markdown.scss */
.markdown-body .progress-20plus .progress-bar {
  background-color: #d796a6;
}

/* line 691, ../sass/markdown.scss */
.markdown-body .progress-0plus .progress-bar {
  background-color: #c25f77;
}

/* line 695, ../sass/markdown.scss */
.markdown-body .candystripe-animate .progress-bar {
  -webkit-animation: animate-stripes 3s linear infinite;
  -moz-animation: animate-stripes 3s linear infinite;
  animation: animate-stripes 3s linear infinite;
}

/* line 702, ../sass/markdown.scss */
.markdown-body .headeranchor {
  font: normal normal 16px octicons-anchor;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 715, ../sass/markdown.scss */
.headeranchor:before {
  content: '\f05c';
}

/* line 719, ../sass/markdown.scss */
.markdown-body .task-list-item {
  list-style-type: none;
}

/* line 723, ../sass/markdown.scss */
.markdown-body .task-list-item + .task-list-item {
  margin-top: 3px;
}

/* line 727, ../sass/markdown.scss */
.markdown-body .task-list-item input {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}

/* Media */
@media only screen and (min-width: 480px) {
  /* line 734, ../sass/markdown.scss */
  .markdown-body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 740, ../sass/markdown.scss */
  .markdown-body {
    font-size: 16px;
  }
}
