/* line 1, ../sass/scheduler.scss */
.schedule {
  margin-bottom: 40px;
  margin: 0;
  padding: 0;
  font-family: "HelveticaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #464646;
  background-color: #ffffff;
}

/* line 12, ../sass/scheduler.scss */
.schedule h2 {
  display: inline;
  vertical-align: middle;
}

/* line 17, ../sass/scheduler.scss */
.schedule .schedule-details {
  display: none;
  padding-top: 5px;
}

/* line 22, ../sass/scheduler.scss */
.schedule .schedule-details p {
  margin-bottom: 10px;
}

/* line 26, ../sass/scheduler.scss */
.schedule-table {
  position: relative;
  margin-top: 20px;
}

/* line 31, ../sass/scheduler.scss */
.schedule-table table {
  width: 620px;
  table-layout: fixed;
}

/* line 36, ../sass/scheduler.scss */
.schedule-table td,
.schedule-table th {
  padding: 0;
  box-sizing: border-box;
}

/* line 42, ../sass/scheduler.scss */
.schedule-table thead th {
  width: 110px;
  padding: 5px;
  background: #292929;
  color: #fff;
  text-align: center;
  -webkit-print-color-adjust: exact;
}

/* line 51, ../sass/scheduler.scss */
.schedule-table thead tr > th:first-child {
  border-left: 1px solid #292929;
}

/* line 55, ../sass/scheduler.scss */
.schedule-table thead tr > th:last-child {
  border-right: 1px solid #292929;
}

/* line 59, ../sass/scheduler.scss */
.schedule-table thead th.time {
  width: 70px;
}

/* line 63, ../sass/scheduler.scss */
.schedule-table tbody td,
.schedule-table tbody th {
  border-bottom: 1px solid #9a9a9a;
  border-right: 1px solid #9a9a9a;
}

/* line 69, ../sass/scheduler.scss */
.schedule-table tbody th {
  text-align: center;
  background: #cecece;
  height: 48px;
  line-height: 48px;
  white-space: nowrap;
  border-left: 1px solid #9a9a9a;
  font-weight: normal;
  font-size: 13px;
  -webkit-print-color-adjust: exact;
}

/* line 81, ../sass/scheduler.scss */
.schedule-table tbody td {
  background: #ededed;
}

/* line 85, ../sass/scheduler.scss */
.schedule-table .course-name {
  font-weight: bold;
}

/* line 89, ../sass/scheduler.scss */
.schedule-table .dayM,
.schedule-table .dayT,
.schedule-table .dayW,
.schedule-table .dayR,
.schedule-table .dayF {
  position: absolute;
  width: 111px;
  top: 0;
  text-align: center;
  box-sizing: border-box;
}

/* line 101, ../sass/scheduler.scss */
.schedule-table .dayM {
  left: 70px;
}

/* line 105, ../sass/scheduler.scss */
.schedule-table .dayT {
  left: 180px;
}

/* line 109, ../sass/scheduler.scss */
.schedule-table .dayW {
  left: 290px;
}

/* line 113, ../sass/scheduler.scss */
.schedule-table .dayR {
  left: 400px;
}

/* line 117, ../sass/scheduler.scss */
.schedule-table .dayF {
  left: 510px;
}

/* line 121, ../sass/scheduler.scss */
.schedule-table .color0 {
  border: 1px solid #805e00;
  background-color: #ffba00;
}

/* line 126, ../sass/scheduler.scss */
.schedule-table .color1 {
  border: 1px solid #406c78;
  background-color: #77c8df;
}

/* line 131, ../sass/scheduler.scss */
.schedule-table .color2 {
  border: 1px solid #6e2169;
  background-color: #ff74f7;
}

/* line 136, ../sass/scheduler.scss */
.schedule-table .color3 {
  border: 1px solid #898c31;
  background-color: #f8ff42;
}

/* line 141, ../sass/scheduler.scss */
.schedule-table .color4 {
  border: 1px solid #306612;
  background-color: #78d446;
}

/* line 146, ../sass/scheduler.scss */
.schedule-table .color5 {
  border: 1px solid #564a80;
  background-color: #ad94ff;
}

/* line 151, ../sass/scheduler.scss */
.schedule-table .color6 {
  border: 1px solid #803c2e;
  background-color: #ff775c;
}

/** Zach Added */
/* line 159, ../sass/scheduler.scss */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 0;
}

/* line 168, ../sass/scheduler.scss */
table th,
table td {
  padding: 10px 15px;
  line-height: 17px;
  text-align: left;
  vertical-align: top;
}

/* line 176, ../sass/scheduler.scss */
table th {
  font-weight: bold;
}

/* line 180, ../sass/scheduler.scss */
table thead th {
  vertical-align: bottom;
}
