/* line 3, ../sass/scheduler.scss */
.schedule {
  margin: 0 0 40px 0;
  padding: 0;
  font-family: "HelveticaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #464646;
  background-color: #ffffff;
}
/* line 12, ../sass/scheduler.scss */
.schedule h2 {
  display: inline;
  vertical-align: middle;
}
/* line 18, ../sass/scheduler.scss */
.schedule .schedule-details {
  display: none;
  padding-top: 5px;
}
/* line 22, ../sass/scheduler.scss */
.schedule .schedule-details p {
  margin-bottom: 10px;
}

/* line 28, ../sass/scheduler.scss */
.schedule-table {
  position: relative;
  margin-top: 20px;
}
/* line 32, ../sass/scheduler.scss */
.schedule-table table {
  width: 620px;
  table-layout: fixed;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0;
}
/* line 42, ../sass/scheduler.scss */
.schedule-table td, .schedule-table th {
  padding: 0;
  box-sizing: border-box;
  line-height: 17px;
  text-align: left;
  vertical-align: top;
}
/* line 50, ../sass/scheduler.scss */
.schedule-table thead th {
  width: 110px;
  padding: 5px;
  background: #292929;
  color: #fff;
  text-align: center;
  vertical-align: bottom;
  -webkit-print-color-adjust: exact;
}
/* line 60, ../sass/scheduler.scss */
.schedule-table thead th.time {
  width: 70px;
}
/* line 65, ../sass/scheduler.scss */
.schedule-table tbody td, .schedule-table tbody th {
  border-bottom: 1px solid #9a9a9a;
  border-right: 1px solid #9a9a9a;
}
/* line 70, ../sass/scheduler.scss */
.schedule-table tbody td {
  background: #ededed;
}
/* line 74, ../sass/scheduler.scss */
.schedule-table tbody th {
  text-align: center;
  background: #cecece;
  height: 48px;
  line-height: 48px;
  white-space: nowrap;
  border-left: 1px solid #9a9a9a;
  font-weight: normal;
  font-size: 13px;
  -webkit-print-color-adjust: exact;
}
/* line 87, ../sass/scheduler.scss */
.schedule-table .course-name {
  font-weight: bold;
}
/* line 91, ../sass/scheduler.scss */
.schedule-table .course-text {
  display: table-cell;
  vertical-align: middle;
}
/* line 96, ../sass/scheduler.scss */
.schedule-table .dayM, .schedule-table .dayT, .schedule-table .dayW, .schedule-table .dayR, .schedule-table .dayF {
  position: absolute;
  width: 111px;
  top: 0;
  text-align: center;
  box-sizing: border-box;
  display: table;
}
/* line 105, ../sass/scheduler.scss */
.schedule-table .dayM {
  left: 70px;
}
/* line 108, ../sass/scheduler.scss */
.schedule-table .dayT {
  left: 180px;
}
/* line 111, ../sass/scheduler.scss */
.schedule-table .dayW {
  left: 290px;
}
/* line 114, ../sass/scheduler.scss */
.schedule-table .dayR {
  left: 400px;
}
/* line 117, ../sass/scheduler.scss */
.schedule-table .dayF {
  left: 510px;
}
/* line 121, ../sass/scheduler.scss */
.schedule-table .color0 {
  border: 1px solid #805e00;
  background-color: #ffba00;
}
/* line 125, ../sass/scheduler.scss */
.schedule-table .color1 {
  border: 1px solid #406c78;
  background-color: #77c8df;
}
/* line 129, ../sass/scheduler.scss */
.schedule-table .color2 {
  border: 1px solid #6e2169;
  background-color: #ff74f7;
}
/* line 133, ../sass/scheduler.scss */
.schedule-table .color3 {
  border: 1px solid #898c31;
  background-color: #f8ff42;
}
/* line 137, ../sass/scheduler.scss */
.schedule-table .color4 {
  border: 1px solid #306612;
  background-color: #78d446;
}
/* line 141, ../sass/scheduler.scss */
.schedule-table .color5 {
  border: 1px solid #564a80;
  background-color: #ad94ff;
}
/* line 145, ../sass/scheduler.scss */
.schedule-table .color6 {
  border: 1px solid #803c2e;
  background-color: #ff775c;
}

/* line 151, ../sass/scheduler.scss */
div.schd-section-time-dow {
  display: inline-block;
  width: 25px;
  text-align: center;
}

/* line 158, ../sass/scheduler.scss */
input.schd-section-time-dow {
  width: 25px;
  margin: 0;
  padding: 0;
}

/* line 165, ../sass/scheduler.scss */
input.sec-num {
  width: 100px;
}

/* line 169, ../sass/scheduler.scss */
select.schd-section-time-hour {
  color: #414142;
}

/* line 174, ../sass/scheduler.scss */
div.schd-section-time {
  display: flex;
  align-items: center;
}

/* line 180, ../sass/scheduler.scss */
div.schd-section {
  margin-left: 30px;
  margin-top: 20px;
  min-width: 420px;
}
/* line 185, ../sass/scheduler.scss */
div.schd-section div.schd-section {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
/* line 190, ../sass/scheduler.scss */
div.schd-section div.schd-section div.schd-section-times {
  width: 400px;
}
/* line 193, ../sass/scheduler.scss */
div.schd-section div.schd-section div.schd-section-times .add-time {
  margin-top: 10px;
}
/* line 198, ../sass/scheduler.scss */
div.schd-section div.schd-section.alt {
  background-color: #414142;
}
/* line 204, ../sass/scheduler.scss */
div.schd-section .schd-add-section {
  margin-top: 20px;
  margin-left: 30px;
}

/* line 212, ../sass/scheduler.scss */
.clear {
  clear: both;
}

/* line 217, ../sass/scheduler.scss */
div.schd-course {
  padding-top: 30px;
}
/* line 220, ../sass/scheduler.scss */
div.schd-course .schd-add-course {
  margin-top: 30px;
}

/* line 232, ../sass/scheduler.scss */
.schedule-table thead tr > th:first-child {
  border-left: 1px solid #292929;
}

/* line 236, ../sass/scheduler.scss */
.schedule-table thead tr > th:last-child {
  border-right: 1px solid #292929;
}
