/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
 * Globals
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);
/* line 9, ../sass/_main.scss */
body {
  color: #cecfd5;
  background-color: #282828;
}

/* line 14, ../sass/_main.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #dfe0e6;
}

/* line 21, ../sass/_main.scss */
a {
  color: #33c4e8;
}
/* line 24, ../sass/_main.scss */
a:visited {
  color: #399ec6;
}
/* line 27, ../sass/_main.scss */
a:hover {
  color: rgba(51, 196, 232, 0.7);
}

/* line 32, ../sass/_main.scss */
code {
  color: #cecfd5;
  background-color: #383838;
}

/*
 * Sections
 */
/* line 41, ../sass/_main.scss */
#page-wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
}
/* line 45, ../sass/_main.scss */
#page-wrapper.toggled {
  padding-left: 250px;
}
/* line 48, ../sass/_main.scss */
#page-wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
/* line 52, ../sass/_main.scss */
#page-wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* line 59, ../sass/_main.scss */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  margin-top: 50px;
}

/* line 65, ../sass/_main.scss */
.masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #33c4e8;
  z-index: 4;
}

/* line 75, ../sass/_main.scss */
.header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 81, ../sass/_main.scss */
.title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

/* line 87, ../sass/_main.scss */
.subtitle {
  font-size: 20px;
  color: #999;
  text-align: center;
  width: 80%;
}

/* line 94, ../sass/_main.scss */
.row.center-row {
  display: flex;
  justify-content: center;
}

/* line 99, ../sass/_main.scss */
.social-icon:hover {
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

@media (min-width: 750px) {
  /* line 107, ../sass/_main.scss */
  #page-content-wrapper {
    margin-top: 75px;
  }

  /* line 111, ../sass/_main.scss */
  .masthead {
    height: 75px;
  }

  /* line 115, ../sass/_main.scss */
  #content-pane {
    font-size: 18px;
    line-height: 1.5;
  }
}
/* line 6, ../sass/_nav.scss */
#zach_pic {
  margin: 5px;
  width: 90px;
  height: 90px;
}

/* line 13, ../sass/_nav.scss */
#pic-wrapper {
  display: flex;
  justify-content: center;
}

/* line 18, ../sass/_nav.scss */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  top: 50px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  transition: all 0.5s ease;
  background-color: #181818;
}

/* line 32, ../sass/_nav.scss */
.sidebar-nav {
  background-color: #181818;
  margin: 100px 0 0 0;
  position: absolute;
  top: 0;
  width: 250px;
  padding: 0;
  list-style: none;
}
/* line 41, ../sass/_nav.scss */
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
/* line 45, ../sass/_nav.scss */
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  padding: 0 auto 0 auto;
  margin: 0 auto 0 auto;
  color: white;
  font-size: x-large;
  font-family: "Anton", sans-serif;
}
/* line 55, ../sass/_nav.scss */
.sidebar-nav li a.active {
  background-color: #282828;
  width: 101%;
}
/* line 61, ../sass/_nav.scss */
.sidebar-nav li a:hover {
  background-color: #404040;
}

/*
 * Toggle nav side bar visibility
 */
@media (min-width: 750px) {
  /* line 72, ../sass/_nav.scss */
  #page-wrapper {
    padding-left: 250px;
  }
  /* line 75, ../sass/_nav.scss */
  #page-wrapper.toggled {
    padding-left: 0;
  }
  /* line 78, ../sass/_nav.scss */
  #page-wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  /* line 82, ../sass/_nav.scss */
  #page-wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  /* line 90, ../sass/_nav.scss */
  #sidebar-wrapper {
    width: 250px;
    top: 75px;
  }

  /* line 95, ../sass/_nav.scss */
  .sidebar-nav {
    margin-top: 250px;
  }

  /* line 99, ../sass/_nav.scss */
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  /* line 104, ../sass/_nav.scss */
  #zach_pic {
    margin: 15px;
    width: 220px;
    height: 220px;
  }
}
/* line 3, ../sass/_blog.scss */
div.blogpost {
  background-color: #383838;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}
/* line 9, ../sass/_blog.scss */
div.blogpost h1 {
  color: #F1F1F1;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 3.5em;
  letter-spacing: -2px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;
}

/*
 * Selection Rectangles
 */
/* line 26, ../sass/_blog.scss */
div.selection-item {
  float: left;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: rgba(51, 196, 232, 0.5);
  border-radius: 20px;
}

/* line 40, ../sass/_blog.scss */
div.selection-item:hover {
  background-color: rgba(51, 196, 232, 0.7);
}

/* line 44, ../sass/_blog.scss */
div.selection-item-container {
  display: flex;
  justify-content: center;
}

/* Pagination */
/* line 51, ../sass/_blog.scss */
.pager {
  margin-bottom: 60px;
  text-align: left;
  /*
   * Footer
   */
}
/* line 55, ../sass/_blog.scss */
.pager li {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  display: inline-block;
  background-color: #383838;
  border: 1px solid #ddd;
}
/* line 65, ../sass/_blog.scss */
.pager .next {
  float: right;
}
/* line 68, ../sass/_blog.scss */
.pager .prev {
  float: left;
}
/* line 76, ../sass/_blog.scss */
.pager .blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
/* line 83, ../sass/_blog.scss */
.pager .blog-footer p:last-child {
  margin-bottom: 0;
}

/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
/* line 6, ../sass/photoswipe/_photoswipe.scss */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none;
}

/* line 21, ../sass/photoswipe/_photoswipe.scss */
.pswp * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 24, ../sass/photoswipe/_photoswipe.scss */
.pswp img {
  max-width: none;
}

/* style is added when JS option showHideOpacity is set to true */
/* line 28, ../sass/photoswipe/_photoswipe.scss */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* line 36, ../sass/photoswipe/_photoswipe.scss */
.pswp--open {
  display: block;
}

/* line 39, ../sass/photoswipe/_photoswipe.scss */
.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

/* line 45, ../sass/photoswipe/_photoswipe.scss */
.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

/* line 51, ../sass/photoswipe/_photoswipe.scss */
.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
/* line 61, ../sass/photoswipe/_photoswipe.scss */
.pswp__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

/* line 72, ../sass/photoswipe/_photoswipe.scss */
.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 80, ../sass/photoswipe/_photoswipe.scss */
.pswp__container,
.pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Prevent selection and tap highlights */
/* line 91, ../sass/photoswipe/_photoswipe.scss */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* line 100, ../sass/photoswipe/_photoswipe.scss */
.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  /* for open/close transition */
  -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* line 110, ../sass/photoswipe/_photoswipe.scss */
.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* line 116, ../sass/photoswipe/_photoswipe.scss */
.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  -webkit-transition: none;
  transition: none;
}

/* line 121, ../sass/photoswipe/_photoswipe.scss */
.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden;
}

/* line 125, ../sass/photoswipe/_photoswipe.scss */
.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

/* line 133, ../sass/photoswipe/_photoswipe.scss */
.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
}

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
/* line 144, ../sass/photoswipe/_photoswipe.scss */
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden;
}

/*
	div element that matches size of large image
	large image loads on top of it
*/
/* line 151, ../sass/photoswipe/_photoswipe.scss */
.pswp__img--placeholder--blank {
  background: #222;
}

/* line 154, ../sass/photoswipe/_photoswipe.scss */
.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0;
}

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
/* line 165, ../sass/photoswipe/_photoswipe.scss */
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC;
}

/* line 177, ../sass/photoswipe/_photoswipe.scss */
.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline;
}

/*! PhotoSwipe Default UI CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*

	Contents:

	1. Buttons
	2. Share modal and links
	3. Index indicator ("1 of X" counter)
	4. Caption
	5. Loading indicator
	6. Additional styles (root element, top bar, idle state, hidden state, etc.)

*/
/*

	1. Buttons

 */
/* <button> css reset */
/* line 24, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button {
  width: 44px;
  height: 44px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
  float: right;
  opacity: 0.75;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 42, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button:focus,
.pswp__button:hover {
  opacity: 1;
}

/* line 45, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button:active {
  outline: none;
  opacity: 0.9;
}

/* line 48, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* pswp__ui--over-close class it added when mouse is over element that should close gallery */
/* line 53, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__ui--over-close .pswp__button--close {
  opacity: 1;
}

/* line 56, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  background: url("../../assets/photoswipe/default-skin/default-skin.png") 0 0 no-repeat;
  background-size: 264px 88px;
  width: 44px;
  height: 44px;
}

@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  /* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  /* line 66, ../sass/photoswipe/_photoswipe-default-skin.scss */
  .pswp--svg .pswp__button,
  .pswp--svg .pswp__button--arrow--left:before,
  .pswp--svg .pswp__button--arrow--right:before {
    background-image: url("../../assets/photoswipe/default-skin/default-skin.svg");
  }

  /* line 70, ../sass/photoswipe/_photoswipe-default-skin.scss */
  .pswp--svg .pswp__button--arrow--left,
  .pswp--svg .pswp__button--arrow--right {
    background: none;
  }
}
/* line 74, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button--close {
  background-position: 0 -44px;
}

/* line 77, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button--share {
  background-position: -44px -44px;
}

/* line 80, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button--fs {
  display: none;
}

/* line 83, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--supports-fs .pswp__button--fs {
  display: block;
}

/* line 86, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--fs .pswp__button--fs {
  background-position: -44px 0;
}

/* line 89, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button--zoom {
  display: none;
  background-position: -88px 0;
}

/* line 93, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

/* line 96, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--zoomed-in .pswp__button--zoom {
  background-position: -132px 0;
}

/* no arrows on touch screens */
/* line 100, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
  visibility: hidden;
}

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
/* line 108, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  background: none;
  top: 50%;
  margin-top: -50px;
  width: 70px;
  height: 100px;
  position: absolute;
}

/* line 117, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button--arrow--left {
  left: 0;
}

/* line 120, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button--arrow--right {
  right: 0;
}

/* line 123, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  content: '';
  top: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 32px;
  position: absolute;
}

/* line 132, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button--arrow--left:before {
  left: 6px;
  background-position: -138px -44px;
}

/* line 136, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__button--arrow--right:before {
  right: 6px;
  background-position: -94px -44px;
}

/*

	2. Share modal/popup and links

 */
/* line 145, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__counter,
.pswp__share-modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 152, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__share-modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  z-index: 1600;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
}

/* line 168, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__share-modal--hidden {
  display: none;
}

/* line 171, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__share-tooltip {
  z-index: 1620;
  position: absolute;
  background: #FFF;
  top: 56px;
  border-radius: 2px;
  display: block;
  width: auto;
  right: 44px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-backface-visibility: hidden;
  will-change: transform;
}

/* line 189, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__share-tooltip a {
  display: block;
  padding: 8px 12px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

/* line 196, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__share-tooltip a:hover {
  text-decoration: none;
  color: #000;
}

/* line 199, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__share-tooltip a:first-child {
  /* round corners on the first/last list item */
  border-radius: 2px 2px 0 0;
}

/* line 202, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__share-tooltip a:last-child {
  border-radius: 0 0 2px 2px;
}

/* line 205, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__share-modal--fade-in {
  opacity: 1;
}

/* line 207, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__share-modal--fade-in .pswp__share-tooltip {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* increase size of share links on touch devices */
/* line 213, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--touch .pswp__share-tooltip a {
  padding: 16px 12px;
}

/* line 216, ../sass/photoswipe/_photoswipe-default-skin.scss */
a.pswp__share--facebook:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  right: 15px;
  border: 6px solid transparent;
  border-bottom-color: #FFF;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

/* line 230, ../sass/photoswipe/_photoswipe-default-skin.scss */
a.pswp__share--facebook:hover {
  background: #3E5C9A;
  color: #FFF;
}

/* line 233, ../sass/photoswipe/_photoswipe-default-skin.scss */
a.pswp__share--facebook:hover:before {
  border-bottom-color: #3E5C9A;
}

/* line 236, ../sass/photoswipe/_photoswipe-default-skin.scss */
a.pswp__share--twitter:hover {
  background: #55ACEE;
  color: #FFF;
}

/* line 240, ../sass/photoswipe/_photoswipe-default-skin.scss */
a.pswp__share--pinterest:hover {
  background: #CCC;
  color: #CE272D;
}

/* line 244, ../sass/photoswipe/_photoswipe-default-skin.scss */
a.pswp__share--download:hover {
  background: #DDD;
}

/*

	3. Index indicator ("1 of X" counter)

 */
/* line 252, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__counter {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  font-size: 13px;
  line-height: 44px;
  color: #FFF;
  opacity: 0.75;
  padding: 0 10px;
}

/*

	4. Caption

 */
/* line 268, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 44px;
}

/* line 274, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__caption small {
  font-size: 11px;
  color: #BBB;
}

/* line 278, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__caption__center {
  text-align: left;
  max-width: 420px;
  margin: 0 auto;
  font-size: 13px;
  padding: 10px;
  line-height: 20px;
  color: #CCC;
}

/* line 287, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__caption--empty {
  display: none;
}

/* Fake caption element, used to calculate height of next/prev image */
/* line 291, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__caption--fake {
  visibility: hidden;
}

/*

	5. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */
/* line 301, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__preloader {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  will-change: opacity;
  direction: ltr;
}

/* line 314, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px;
}

/* line 319, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__preloader--active {
  opacity: 1;
}

/* line 321, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__preloader--active .pswp__preloader__icn {
  /* We use .gif in browsers that don't support CSS animation */
  background: url("../../assets/photoswipe/default-skin/preloader.gif") 0 0 no-repeat;
}

/* line 325, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--css_animation .pswp__preloader--active {
  opacity: 1;
}

/* line 327, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
  -webkit-animation: clockwise 500ms linear infinite;
  animation: clockwise 500ms linear infinite;
}

/* line 330, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
  -webkit-animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}

/* line 334, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--css_animation .pswp__preloader__icn {
  background: none;
  opacity: 0.75;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 15px;
  top: 15px;
  margin: 0;
}

/* line 344, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--css_animation .pswp__preloader__cut {
  /*
			The idea of animating inner circle is based on Polymer ("material") loading indicator
			 by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
		*/
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden;
}

/* line 354, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--css_animation .pswp__preloader__donut {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid #FFF;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  /* line 370, ../sass/photoswipe/_photoswipe-default-skin.scss */
  .pswp__preloader {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    float: right;
  }
}
@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes donut-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
/*

	6. Additional styles

 */
/* root element of UI */
/* line 421, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__ui {
  -webkit-font-smoothing: auto;
  visibility: visible;
  opacity: 1;
  z-index: 1550;
}

/* top black bar with buttons and "1 of X" indicator */
/* line 428, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  width: 100%;
}

/* line 435, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
/* line 445, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible;
}

/* line 449, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__top-bar,
.pswp__caption {
  background-color: rgba(0, 0, 0, 0.5);
}

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
/* line 454, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
  background-color: rgba(0, 0, 0, 0.3);
}

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
/* line 459, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0;
}

/* line 462, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0;
}

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
/* line 470, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: 0.001;
}

/* pswp__ui--one-slide class is added when there is just one item in gallery */
/* line 478, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none;
}

/* line 483, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp__element--disabled {
  display: none !important;
}

/* line 486, ../sass/photoswipe/_photoswipe-default-skin.scss */
.pswp--minimal--dark .pswp__top-bar {
  background: none;
}

/* line 2, ../sass/photoswipe/_photoswipe-site.scss */
figure {
  display: block;
}

/* line 6, ../sass/photoswipe/_photoswipe-site.scss */
.zimg {
  max-height: 200px;
  height: 200px;
  width: auto;
  border: 0;
}

/* line 13, ../sass/photoswipe/_photoswipe-site.scss */
a.zimg > img {
  height: 100%;
}

/* line 17, ../sass/photoswipe/_photoswipe-site.scss */
.section--head p {
  color: #666;
}

/* line 21, ../sass/photoswipe/_photoswipe-site.scss */
.section {
  width: 100%;
  margin-top: 176px;
}

/* line 26, ../sass/photoswipe/_photoswipe-site.scss */
.section--head {
  margin: 0;
  background: #EEE;
  padding: 132px 0;
}

/* line 32, ../sass/photoswipe/_photoswipe-site.scss */
img.img--with_border {
  border: 1px solid #DDD;
  border-radius: 2px;
}

/* line 37, ../sass/photoswipe/_photoswipe-site.scss */
.img-desc {
  margin-left: 212px;
}

/* line 41, ../sass/photoswipe/_photoswipe-site.scss */
.demo-gallery {
  width: calc(100vw - 320px);
  left: calc(50% - 50vw + 180px);
  height: auto;
  float: left;
  padding-left: 0;
}

/* line 54, ../sass/photoswipe/_photoswipe-site.scss */
.demo-gallery a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  line-height: 0;
}

/* line 63, ../sass/photoswipe/_photoswipe-site.scss */
a.demo-gallery__img--main {
  width: auto;
  height: auto;
}

/* line 69, ../sass/photoswipe/_photoswipe-site.scss */
.demo-gallery figure {
  display: none;
}

/* line 73, ../sass/photoswipe/_photoswipe-site.scss */
.demo-gallery__title {
  line-height: 14px;
  font-size: 14px;
  opacity: 0.8;
  margin-top: 5px;
  width: 100%;
  float: left;
}

/* line 82, ../sass/photoswipe/_photoswipe-site.scss */
.share-buttons h2 {
  text-align: center;
  border: 0;
}

/* line 87, ../sass/photoswipe/_photoswipe-site.scss */
.share-buttons {
  text-align: center;
  position: relative;
  margin: 0 0 24px;
}

/* line 92, ../sass/photoswipe/_photoswipe-site.scss */
.share-buttons a {
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  color: #FFF;
  text-decoration: none;
  background: #5AAF63;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

/* line 105, ../sass/photoswipe/_photoswipe-site.scss */
.share-buttons a:hover {
  opacity: 0.7;
}

/* line 108, ../sass/photoswipe/_photoswipe-site.scss */
#tweet {
  background: #0096c4;
}

/* line 111, ../sass/photoswipe/_photoswipe-site.scss */
#like {
  background: #3b5998;
}

/* line 114, ../sass/photoswipe/_photoswipe-site.scss */
#gplus {
  background: #d34836;
}

@media screen and (max-width: 1000px) {
  /* line 121, ../sass/photoswipe/_photoswipe-site.scss */
  .row--wide {
    max-width: 800px;
  }

  /* line 124, ../sass/photoswipe/_photoswipe-site.scss */
  .row--wide img {
    float: none;
  }

  /* line 127, ../sass/photoswipe/_photoswipe-site.scss */
  .img-desc {
    margin-left: 0;
  }

  /* line 130, ../sass/photoswipe/_photoswipe-site.scss */
  .section {
    margin-top: 132px;
  }

  /* line 133, ../sass/photoswipe/_photoswipe-site.scss */
  .section--head {
    margin-top: 0;
    padding: 30px 0;
  }

  /* line 137, ../sass/photoswipe/_photoswipe-site.scss */
  .row--nav {
    font-size: 24px;
    line-height: 1.1;
  }
}
@media screen and (max-width: 650px) {
  /* line 146, ../sass/photoswipe/_photoswipe-site.scss */
  .block__ui-separated .col-50 {
    position: relative;
    top: 0;
  }

  /* line 150, ../sass/photoswipe/_photoswipe-site.scss */
  .block__ui-separated img {
    max-width: 100%;
    width: 100%;
    float: left;
  }
}
@media screen and (max-width: 450px) {
  /* line 160, ../sass/photoswipe/_photoswipe-site.scss */
  .col-50:nth-child(1) {
    margin-right: 0;
  }

  /* line 163, ../sass/photoswipe/_photoswipe-site.scss */
  .row--wide img {
    margin-bottom: 6px;
  }

  /* line 166, ../sass/photoswipe/_photoswipe-site.scss */
  .col-50 {
    width: 100%;
    margin-bottom: 12px;
  }

  /* line 173, ../sass/photoswipe/_photoswipe-site.scss */
  .section {
    margin-top: 88px;
  }

  /* line 176, ../sass/photoswipe/_photoswipe-site.scss */
  .docs {
    margin-top: 32px;
  }

  /* line 179, ../sass/photoswipe/_photoswipe-site.scss */
  .section--head {
    margin-top: 0;
    padding: 24px 0;
  }
}
@media screen and (max-width: 700px) {
  /* line 187, ../sass/photoswipe/_photoswipe-site.scss */
  .demo-gallery {
    max-width: 500px;
    left: 0;
  }

  /* line 191, ../sass/photoswipe/_photoswipe-site.scss */
  .demo-gallery a {
    width: 120px;
    margin: 0 4px 4px 0;
  }

  /* line 195, ../sass/photoswipe/_photoswipe-site.scss */
  a.demo-gallery__img--main {
    width: 164px;
  }
}
@media screen and (max-width: 450px) {
  /* line 201, ../sass/photoswipe/_photoswipe-site.scss */
  .demo-gallery a {
    width: 95px;
    margin: 0 1px 1px 0;
  }

  /* line 205, ../sass/photoswipe/_photoswipe-site.scss */
  a.demo-gallery__img--main {
    width: 127px;
  }
}
@media screen and (max-width: 350px) {
  /* line 212, ../sass/photoswipe/_photoswipe-site.scss */
  .demo-gallery a {
    width: 81px;
    margin: 0 1px 1px 0;
  }

  /* line 216, ../sass/photoswipe/_photoswipe-site.scss */
  a.demo-gallery__img--main {
    width: 109px;
  }
}
/* line 3, ../sass/_markdown.scss */
.markdown-body {
  width: 45em;
  margin: 16px auto;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}
/* line 14, ../sass/_markdown.scss */
.markdown-body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 19, ../sass/_markdown.scss */
.markdown-body > *:first-child {
  margin-top: 0 !important;
}
/* line 23, ../sass/_markdown.scss */
.markdown-body > *:last-child {
  margin-bottom: 0 !important;
}
/* line 27, ../sass/_markdown.scss */
.markdown-body a:active, .markdown-body a:hover {
  outline: 0;
}
/* line 30, ../sass/_markdown.scss */
.markdown-body a:hover, .markdown-body a:focus, .markdown-body a:active {
  text-decoration: underline;
}
/* line 34, ../sass/_markdown.scss */
.markdown-body b, .markdown-body strong {
  font-weight: bold;
}
/* line 38, ../sass/_markdown.scss */
.markdown-body mark {
  background: #ff0;
  color: #cecfd5;
  font-style: italic;
  font-weight: bold;
}
/* line 45, ../sass/_markdown.scss */
.markdown-body sub, .markdown-body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 51, ../sass/_markdown.scss */
.markdown-body sup {
  top: -0.5em;
}
/* line 54, ../sass/_markdown.scss */
.markdown-body sub {
  bottom: -0.25em;
}
/* line 58, ../sass/_markdown.scss */
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  margin-top: 15px;
  position: relative;
  font-weight: bold;
}
/* line 63, ../sass/_markdown.scss */
.markdown-body h1 {
  font-size: 3.5rem;
  font-weight: 900;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  padding-top: 15px;
  padding-bottom: 10px;
  line-height: 1.2;
  margin-bottom: 20px;
  line-height: 1.1;
}
/* line 78, ../sass/_markdown.scss */
.markdown-body h2 {
  font-size: 21px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  line-height: 1.225;
  padding-top: 10px;
  padding-bottom: 5px;
}
/* line 85, ../sass/_markdown.scss */
.markdown-body h3 {
  font-size: 16px;
  line-height: 1.43;
}
/* line 89, ../sass/_markdown.scss */
.markdown-body h4 {
  font-size: 14px;
}
/* line 92, ../sass/_markdown.scss */
.markdown-body h5 {
  font-size: 12px;
}
/* line 95, ../sass/_markdown.scss */
.markdown-body h6 {
  font-size: 11px;
}
/* line 99, ../sass/_markdown.scss */
.markdown-body ol ol, .markdown-body ul ol {
  list-style-type: lower-roman;
}
/* line 102, ../sass/_markdown.scss */
.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}
/* line 108, ../sass/_markdown.scss */
.markdown-body ul, .markdown-body ol {
  padding: 0 0 0 2em;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 114, ../sass/_markdown.scss */
.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 121, ../sass/_markdown.scss */
.markdown-body li > p {
  margin-top: 16px;
  margin-bottom: 0;
}
/* line 126, ../sass/_markdown.scss */
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}
/* line 132, ../sass/_markdown.scss */
.markdown-body img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
}
/* line 139, ../sass/_markdown.scss */
.markdown-body hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/* line 145, ../sass/_markdown.scss */
.markdown-body table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 150, ../sass/_markdown.scss */
.markdown-body td, .markdown-body th {
  padding: 0;
}
/* line 154, ../sass/_markdown.scss */
.markdown-body pre {
  overflow: auto;
}
/* line 158, ../sass/_markdown.scss */
.markdown-body .codehilitetable {
  border: 0;
  border-spacing: 0;
}
/* line 163, ../sass/_markdown.scss */
.markdown-body .codehilitetable tr {
  border: 0;
}
/* line 167, ../sass/_markdown.scss */
.markdown-body .codehilitetable pre,
.markdown-body .codehilitetable div.codehilite {
  margin: 0;
}
/* line 172, ../sass/_markdown.scss */
.markdown-body .linenos,
.markdown-body .code,
.markdown-body .codehilitetable td {
  border: 0;
  padding: 0;
}
/* line 179, ../sass/_markdown.scss */
.markdown-body td:not(.linenos) .linenodiv {
  padding: 0 !important;
}
/* line 185, ../sass/_markdown.scss */
.markdown-body code, .markdown-body pre, .markdown-body samp {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}
/* line 189, ../sass/_markdown.scss */
.markdown-body pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
/* line 200, ../sass/_markdown.scss */
.markdown-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
/* line 209, ../sass/_markdown.scss */
.markdown-body .code {
  width: 100%;
}
/* line 212, ../sass/_markdown.scss */
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: normal;
}
/* line 217, ../sass/_markdown.scss */
.markdown-body pre code:before, .markdown-body pre code:after {
  content: normal;
}
/* line 222, ../sass/_markdown.scss */
.markdown-body code, .markdown-body samp {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
/* line 232, ../sass/_markdown.scss */
.markdown-body .linenos div pre,
.markdown-body .linenodiv pre,
.markdown-body .linenodiv {
  border: 0;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
/* line 241, ../sass/_markdown.scss */
.markdown-body .code div pre,
.markdown-body .code div {
  border: 0;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
/* line 249, ../sass/_markdown.scss */
.markdown-body code:before,
.markdown-body code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
/* line 255, ../sass/_markdown.scss */
.markdown-body .codehilite {
  margin-bottom: 16px;
}
/* line 258, ../sass/_markdown.scss */
.markdown-body .codehilite pre {
  margin-bottom: 0;
  word-break: normal;
}
/* line 264, ../sass/_markdown.scss */
.markdown-body hr {
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
  height: 4px;
  padding: 0;
  margin: 16px 0;
}
/* line 274, ../sass/_markdown.scss */
.markdown-body hr:before, .markdown-body hr:after {
  display: table;
  content: " ";
}
/* line 279, ../sass/_markdown.scss */
.markdown-body hr:after {
  clear: both;
}
/* line 284, ../sass/_markdown.scss */
.markdown-body blockquote {
  margin: 0;
}
/* line 288, ../sass/_markdown.scss */
.markdown-body dd {
  margin-left: 0;
}
/* line 292, ../sass/_markdown.scss */
.markdown-body .headeranchor {
  font: normal normal 16px octicons-anchor;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 305, ../sass/_markdown.scss */
.markdown-body .headeranchor:before {
  content: '\f05c';
}
/* line 309, ../sass/_markdown.scss */
.markdown-body .headeranchor-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}
/* line 320, ../sass/_markdown.scss */
.markdown-body .headeranchor-link:focus {
  outline: none;
}
/* line 326, ../sass/_markdown.scss */
.markdown-body h1 .headeranchor, .markdown-body h2 .headeranchor, .markdown-body h3 .headeranchor, .markdown-body h4 .headeranchor, .markdown-body h5 .headeranchor, .markdown-body h6 .headeranchor {
  display: none;
  color: #cecfd5;
  vertical-align: middle;
}
/* line 334, ../sass/_markdown.scss */
.markdown-body h1:hover .headeranchor-link, .markdown-body h2:hover .headeranchor-link, .markdown-body h3:hover .headeranchor-link, .markdown-body h4:hover .headeranchor-link, .markdown-body h5:hover .headeranchor-link, .markdown-body h6:hover .headeranchor-link {
  height: 1em;
  padding-left: 8px;
  margin-left: -30px;
  line-height: 1;
  text-decoration: none;
}
/* line 341, ../sass/_markdown.scss */
.markdown-body h1:hover .headeranchor-link .headeranchor, .markdown-body h2:hover .headeranchor-link .headeranchor, .markdown-body h3:hover .headeranchor-link .headeranchor, .markdown-body h4:hover .headeranchor-link .headeranchor, .markdown-body h5:hover .headeranchor-link .headeranchor, .markdown-body h6:hover .headeranchor-link .headeranchor {
  display: inline-block;
}
/* line 347, ../sass/_markdown.scss */
.markdown-body dl {
  padding: 0;
}
/* line 351, ../sass/_markdown.scss */
.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
/* line 359, ../sass/_markdown.scss */
.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
/* line 364, ../sass/_markdown.scss */
.markdown-body blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
/* line 370, ../sass/_markdown.scss */
.markdown-body blockquote > :first-child {
  margin-top: 0;
}
/* line 374, ../sass/_markdown.scss */
.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}
/* line 378, ../sass/_markdown.scss */
.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
  border-color: #181818;
}
/* line 385, ../sass/_markdown.scss */
.markdown-body table th, .markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #181818;
}
/* line 389, ../sass/_markdown.scss */
.markdown-body table th {
  font-weight: bold;
  text-align: center;
}
/* line 393, ../sass/_markdown.scss */
.markdown-body table tr {
  background-color: #282828;
}
/* line 398, ../sass/_markdown.scss */
.markdown-body table tr:nth-child(2n) {
  background-color: rgba(65, 65, 66, 0.7);
}
/* line 403, ../sass/_markdown.scss */
.markdown-body .task-list-item {
  list-style-type: none;
}
/* line 407, ../sass/_markdown.scss */
.markdown-body .task-list-item + .task-list-item {
  margin-top: 3px;
}
/* line 411, ../sass/_markdown.scss */
.markdown-body input {
  font: 13px Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: normal;
  color: inherit;
  margin: 0;
}
/* line 419, ../sass/_markdown.scss */
.markdown-body input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}
/* line 428, ../sass/_markdown.scss */
.markdown-body input[type='checkbox']:checked {
  background: #abd;
}
/* line 431, ../sass/_markdown.scss */
.markdown-body input[disabled] {
  cursor: default;
}
/* line 435, ../sass/_markdown.scss */
.markdown-body .task-list-item input {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}

/* line 441, ../sass/_markdown.scss */
.footer {
  padding-top: 200px;
}

/* Media */
@media only screen and (min-width: 480px) {
  /* line 448, ../sass/_markdown.scss */
  .markdown-body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 454, ../sass/_markdown.scss */
  .markdown-body {
    font-size: 16px;
  }
}
/* line 16, ../sass/_scheduler.scss */
.schedule {
  width: 650px;
  margin: 0 0 40px 0;
  padding: 0;
  font-family: "HelveticaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}

/* line 27, ../sass/_scheduler.scss */
.schedule-table {
  position: relative;
  margin-top: 20px;
}
/* line 31, ../sass/_scheduler.scss */
.schedule-table table {
  width: 650px;
  table-layout: fixed;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 0;
}
/* line 41, ../sass/_scheduler.scss */
.schedule-table td, .schedule-table th {
  padding: 0;
  box-sizing: border-box;
  line-height: 15px;
  text-align: left;
  vertical-align: top;
}
/* line 49, ../sass/_scheduler.scss */
.schedule-table thead th {
  width: 116px;
  padding: 5px;
  background: #242424;
  color: white;
  text-align: center;
  vertical-align: bottom;
  -webkit-print-color-adjust: exact;
}
/* line 59, ../sass/_scheduler.scss */
.schedule-table thead th.time {
  width: 70px;
}
/* line 64, ../sass/_scheduler.scss */
.schedule-table tbody td, .schedule-table tbody th {
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
}
/* line 69, ../sass/_scheduler.scss */
.schedule-table tbody td {
  background: #e5e5e5;
}
/* line 73, ../sass/_scheduler.scss */
.schedule-table tbody th {
  line-height: 49px;
  height: 49px;
  text-align: center;
  background: #c7c7c7;
  white-space: nowrap;
  border-left: 1px solid #808080;
  font-weight: normal;
}
/* line 84, ../sass/_scheduler.scss */
.schedule-table .course-name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 115px;
  display: inline-block;
}
/* line 92, ../sass/_scheduler.scss */
.schedule-table .course-text {
  display: table-cell;
  vertical-align: middle;
}
/* line 97, ../sass/_scheduler.scss */
.schedule-table .dayM, .schedule-table .dayT, .schedule-table .dayW, .schedule-table .dayR, .schedule-table .dayF {
  position: absolute;
  width: 117px;
  top: 0;
  text-align: center;
  box-sizing: border-box;
  display: table;
}
/* line 110, ../sass/_scheduler.scss */
.schedule-table .dayM {
  left: 70px;
}
/* line 113, ../sass/_scheduler.scss */
.schedule-table .dayT {
  left: 186px;
}
/* line 116, ../sass/_scheduler.scss */
.schedule-table .dayW {
  left: 302px;
}
/* line 119, ../sass/_scheduler.scss */
.schedule-table .dayR {
  left: 418px;
}
/* line 122, ../sass/_scheduler.scss */
.schedule-table .dayF {
  left: 534px;
}
/* line 126, ../sass/_scheduler.scss */
.schedule-table .color0 {
  border: 1px solid #0D47A1;
  background-color: #2196F3;
  color: rgba(255, 255, 255, 0.87);
}
/* line 131, ../sass/_scheduler.scss */
.schedule-table .color1 {
  border: 1px solid #FF6F00;
  background-color: #FFC107;
  color: rgba(0, 0, 0, 0.87);
}
/* line 136, ../sass/_scheduler.scss */
.schedule-table .color2 {
  border: 1px solid #B71C1C;
  background-color: #F44336;
  color: rgba(255, 255, 255, 0.87);
}
/* line 141, ../sass/_scheduler.scss */
.schedule-table .color3 {
  border: 1px solid #1B5E20;
  background-color: #4CAF50;
  color: rgba(0, 0, 0, 0.87);
}
/* line 146, ../sass/_scheduler.scss */
.schedule-table .color4 {
  border: 1px solid #4A148C;
  background-color: #9C27B0;
  color: rgba(255, 255, 255, 0.87);
}
/* line 151, ../sass/_scheduler.scss */
.schedule-table .color5 {
  border: 1px solid #004D40;
  background-color: #009688;
  color: rgba(255, 255, 255, 0.87);
}
/* line 156, ../sass/_scheduler.scss */
.schedule-table .color6 {
  border: 1px solid #880E4F;
  background-color: #E91E63;
  color: rgba(255, 255, 255, 0.87);
}

/* line 167, ../sass/_scheduler.scss */
div.schd-section-times {
  float: left;
}

/* line 172, ../sass/_scheduler.scss */
div.schd-section-time {
  margin-top: 10px;
  background-color: #4a4a4a;
}
/* line 176, ../sass/_scheduler.scss */
div.schd-section-time:not(:first-child) {
  margin-left: 16.66666667%;
}

/* line 181, ../sass/_scheduler.scss */
div.schd-section-time-dow {
  display: inline-block;
  width: 25px;
  text-align: center;
}

/* line 187, ../sass/_scheduler.scss */
input.schd-section-time-dow {
  width: 25px;
  margin: 0;
  padding: 0;
}

/* line 193, ../sass/_scheduler.scss */
.float-input-group.sec-num {
  width: 100px;
  float: left;
  margin: 15px 15px 15px 0;
}

/* line 202, ../sass/_scheduler.scss */
div.schd-sections div.schd-section {
  padding: 15px;
  background-color: #181818;
  margin-bottom: 15px;
}
/* line 209, ../sass/_scheduler.scss */
div.schd-sections div.schd-section div.schd-section-times .schd-add-time, div.schd-sections div.schd-section div.schd-section-times .schd-rmv-time {
  margin-top: 10px;
}
/* line 213, ../sass/_scheduler.scss */
div.schd-sections div.schd-section div.schd-section-times div.schd-section-time {
  margin-left: 0;
  padding: 15px 0 15px 15px;
}
/* line 217, ../sass/_scheduler.scss */
div.schd-sections div.schd-section div.schd-section-times div.schd-section-time > .dow-wrapper, div.schd-sections div.schd-section div.schd-section-times div.schd-section-time > .start-time, div.schd-sections div.schd-section div.schd-section-times div.schd-section-time > .end-time {
  min-width: 155px;
  padding: 0;
}
/* line 224, ../sass/_scheduler.scss */
div.schd-sections div.schd-section div.schd-section-times div.schd-section-time .start-time, div.schd-sections div.schd-section div.schd-section-times div.schd-section-time .end-time {
  margin-top: 15px;
}
/* line 228, ../sass/_scheduler.scss */
div.schd-sections div.schd-section div.schd-section-times div.schd-section-time select {
  color: #181818;
}
/* line 232, ../sass/_scheduler.scss */
div.schd-sections div.schd-section div.schd-section-times div.schd-section-time select.ampm {
  background-color: #999;
}
/* line 239, ../sass/_scheduler.scss */
div.schd-sections button.schd-add-section {
  margin-top: 20px;
}
/* line 242, ../sass/_scheduler.scss */
div.schd-sections button.schd-rmv-section {
  margin-top: 20px;
}

/* line 248, ../sass/_scheduler.scss */
.clear {
  clear: both;
}

/* line 252, ../sass/_scheduler.scss */
div.schd-course {
  padding-top: 30px;
}
/* line 255, ../sass/_scheduler.scss */
div.schd-course .sec-btns {
  padding-left: 0;
  margin-top: 15px;
}

/* line 261, ../sass/_scheduler.scss */
.schd-add-course, .schd-rmv-course {
  margin-top: 30px;
}

/* line 265, ../sass/_scheduler.scss */
#make-schedules {
  margin-top: 75px;
  background-color: #33c4e8;
}

/* line 270, ../sass/_scheduler.scss */
div#schedule-wrapper {
  margin-top: 30px;
  width: 621px;
  color: #640000;
}

/* line 276, ../sass/_scheduler.scss */
.schedule-table thead tr > th:first-child {
  border-left: 1px solid #292929;
}

/* line 280, ../sass/_scheduler.scss */
.schedule-table thead tr > th:last-child {
  border-right: 1px solid #292929;
}

/* line 284, ../sass/_scheduler.scss */
.row.buttons {
  margin-top: 15px;
}

/* line 288, ../sass/_scheduler.scss */
.schd-section > .row {
  margin-right: 0;
}

/* line 292, ../sass/_scheduler.scss */
.row > p {
  padding: 15px;
}

/* line 13, ../sass/controls/_float-input.scss */
.float-input-group {
  height: 50px;
  padding-top: 15px;
  margin-bottom: 20px;
}

/* line 19, ../sass/controls/_float-input.scss */
.float-input {
  font-size: 18px;
  padding: 10px 10px 2px 5px;
  display: block;
  width: inherit;
  border: none;
  border-bottom: 1px solid #404040;
  background-color: transparent;
  color: #cecfd5;
}

/* line 30, ../sass/controls/_float-input.scss */
.float-input:focus {
  outline: none;
}

/* line 34, ../sass/controls/_float-input.scss */
.float-input-lbl {
  font-family: "Roboto";
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  pointer-events: none;
  left: 5px;
  top: -45px;
  transition: 0.2s ease all;
}

/*==============================*/
/* BOTTOM BARS =============== */
/* line 48, ../sass/controls/_float-input.scss */
.float-input-bar {
  position: relative;
  display: block;
  width: 100%;
}

/* line 54, ../sass/controls/_float-input.scss */
.float-input-bar:before,
.float-input-bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #33c4e8;
  transition: 0.2s ease all;
}

/* line 65, ../sass/controls/_float-input.scss */
.float-input-bar:before {
  left: 50%;
}

/* line 69, ../sass/controls/_float-input.scss */
.float-input-bar:after {
  right: 50%;
}

/*==============================*/
/* ACTIVE STATE ============== */
/* line 75, ../sass/controls/_float-input.scss */
.float-input:focus ~ .float-input-bar:before,
.float-input:focus ~ .float-input-bar:after {
  width: 50%;
}

/* line 80, ../sass/controls/_float-input.scss */
.float-input:focus ~ .float-input-highlight {
  animation: inputHighlighter 0.3s ease;
}

/* line 84, ../sass/controls/_float-input.scss */
.float-input:focus ~ .float-input-lbl,
.float-input:valid ~ .float-input-lbl {
  top: -65px;
  font-size: 14px;
  color: #33c4e8;
}

/*==============================*/
/* ANIMATION ================ */
@keyframes inputHighlighter {
  from {
    background: #33c4e8;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* line 8, ../sass/controls/_toggle.scss */
#toggle {
  width: 30px;
  height: 30px;
  margin: 10px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

/* line 19, ../sass/controls/_toggle.scss */
#toggle div {
  width: 100%;
  height: 7.5px;
  margin-bottom: 3.75px;
  background: white;
  transition: all 0.3s;
  backface-visibility: hidden;
}

/* line 28, ../sass/controls/_toggle.scss */
#toggle.on .one {
  transform: rotate(45deg) translate(7.5px, 7.5px);
}

/* line 32, ../sass/controls/_toggle.scss */
#toggle.on .two {
  opacity: 0;
}

/* line 40, ../sass/controls/_toggle.scss */
#toggle.on .three {
  transform: rotate(-45deg) translate(8.5px, -7.5px);
}

@media (min-width: 768px) {
  /* line 46, ../sass/controls/_toggle.scss */
  #toggle {
    display: none;
  }
}
/* line 9, ../sass/controls/_close.scss */
.zp-close {
  background: #33c4e8;
  color: black;
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  position: relative;
  border: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-transform: rotateZ(471.54427deg);
  transform: rotateZ(471.54427deg);
}

/* line 23, ../sass/controls/_close.scss */
.zp-close:hover {
  background: red;
  -webkit-transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: background 350ms cubic-bezier(0.42, 0, 0.58, 1) 10ms, all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -webkit-transform: rotateX(-1.71887deg) rotateZ(19.48057deg);
  transform: rotateX(-1.71887deg) rotateZ(19.48057deg);
}

/* line 29, ../sass/controls/_close.scss */
.zp-close:active {
  background: #33c4e8;
  -webkit-box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.5) inset;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: rotateZ(471.54427deg);
  transform: rotateZ(471.54427deg);
}

/* line 36, ../sass/controls/_close.scss */
.zp-close::before,
.zp-close::after {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0.45em;
  height: 0.1em;
  position: absolute;
  content: "";
  top: 0.33em;
  left: 0.155em;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: black;
  background: white;
  text-shadow: none;
  -o-text-overflow: clip;
  text-overflow: clip;
}

/* line 54, ../sass/controls/_close.scss */
.zp-close::before {
  -webkit-transform: rotateZ(24.06423deg);
  transform: rotateZ(24.06423deg);
}

/* line 58, ../sass/controls/_close.scss */
.zp-close::after {
  -webkit-transform: rotateZ(-66.4631deg);
  transform: rotateZ(-66.4631deg);
}
