/* Pagination */
/* line 4, ../sass/blog.scss */
.pager {
  margin-bottom: 60px;
  text-align: left;
}

/* line 8, ../sass/blog.scss */
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Blog posts
 */
/* line 20, ../sass/blog.scss */
.blog-post {
  margin-bottom: 60px;
}

/* line 23, ../sass/blog.scss */
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}

/* line 27, ../sass/blog.scss */
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
