<div class="col-sm-8 main-container">

    <markdown>

What is the purpose of a pound symbol in a Swift method parameter list?

*	Context
	*	In the Twitter Searches lab we began this week, several methods contained a '#' symbol and it was unclear what the exact functionality of this symbol is.
	
*	Research
	*	A Google search led me to apple's developer page which described the use of the "hash symbol".  It is a shorthand symbol which indicates that the the local parameter name that it is placed before should be used as the internal *and* external parameter name.
	*	This explanation was confusing, because as I understood it if one were to not use an explicit external parameter name, the internal name would *already* be used as the external name as well.  It turns out, however, that this is not the case.  An internal parameter name is not visible to the external world, thus the need for the external name.  I also learned that if external parameter names are specified, these names *must* be specified when the method is called.  I was always under the assumption that they were optional.

    </markdown>


</div>