@import "util";

.blogpost {
  background-color: $main-section-highlight-color;
  width:  100%;
  padding: 20px;
  border-radius: 20px;

  h1 {
    color: $off-white;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 3.5em;
    letter-spacing: -2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    line-height: 1.1;
    text-align: center;
  }
}

ul.z-bubble {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    display: flex;
    justify-content: center;
    padding: 5px;
    list-style: none;
    width: 50%;

    & > a {
      color: white;
      background-color: color("blue", "base");
      font-size: 1.5em;
      text-decoration: none;
      text-align: center;
      padding: 5px;

      float: left;
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      max-width: 300px;
      width: 100%;
      height: 200px;
      border-radius: 20px;

      &:hover {
        background-color: color("blue", "darken-4");
        color: gray;
      }
    }
  }
}


#main-content {
  .card {
    cursor: pointer;
    background-color: $nav-color;

    .card-content {
      background-color: $nav-color;
    }
  }

  .parallax-container {
    height: 400px;
    width: calc(100vw - #{$nav-width});
    //noinspection CssInvalidPropertyValue
    margin-left: calc((100vw - #{$nav-width} - 100%) / -2);
    margin-top: 30px;
    margin-bottom: 50px;

    @include media($media-hide-nav) {
      height: 300px;
      width: 100vw;
      //noinspection CssInvalidPropertyValue
      margin-left: calc((100vw - 100%) / -2);
    }
  }
}

@media (min-width: $screen-md-min) {
  ul.z-bubble li {
    width: 33%;
  }
}

@media (min-width: $screen-lg-min) {
  ul.z-bubble li {
    width: 25%;
  }
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;

  li {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
    display: inline-block;
    background-color: $code-back-color;
    border: 1px solid #ddd;
  }

  .next {
    float: right;
  }
  .prev {
    float: left;
  }

  /*
   * Footer
   */

  .blog-footer {
    padding: 40px 0;
    color: $subtitle-color;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
}

