@import "util";

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

/*
 * Globals
 */

body {
  color: $font-color;
  background-color: $main-section-color;
  font-size: 18px;
  line-height: 1.5;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: $font-stack;
  font-weight: normal;
  color: $heading-color;
}

a {
  color: $link-color;

  &:visited {
    color: $link-visited-color;
  }
  &:hover {
    color: $link-hover-color;
  }
}

code {
  color: $code-fore-color;
  background-color: $code-back-color;
}

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $masthead-height-small;
  background-color: $main-blue;
  z-index: 4;
}

.header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
  text-align: center;
}
.subtitle {
  font-size: 1.2em;
  color: $subtitle-color;
  text-align: center;
  width: 80%;
}

