@import "util";

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

/*
 * Globals
 */

body {
  color: $font-color;
  background-color: $main-section-color;
  font-size: 18px;
  line-height: 1.5;
  overflow-x: hidden;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: $font-stack;
  font-weight: normal;
  color: $heading-color;
}

a {
  color: $link-color;

  &:visited {
    color: $link-visited-color;
  }
  &:hover {
    color: $link-hover-color;
  }
}

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $masthead-height-small;
  background-color: $main-blue;
  z-index: 4;
}

.header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
  text-align: center;

  @include media("<tablet") {
    font-size: 3em;
  }
}
.subtitle {
  font-size: 1.2em;
  color: $subtitle-color;
  text-align: center;
  width: 80%;
}

code {
  background: #333;
}


$jumbotron-height: 300px;
$jumbotron-small-height: 2 / 3 * $jumbotron-height;
.jumbotron {
  height: $jumbotron-height;
  width: calc(100vw - #{$nav-width});
  left: $nav-width;
  position: absolute;
  background-color: $main-blue;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media($media-hide-nav) {
    left: 0;
    width: 100vw;
    height: $jumbotron-small-height;
  }

  .title {
    font-size: 5em;
    font-weight: 900;
    color: white;

    @include media('<=phone') {
      font-size: 3em;
      margin: 0;
    }
  }

  .subtitle {
    color: white;

    @include media('<tablet') {  font-size: 1em;  }
    @include media('<=phone') {
      font-size: 0.75em;
      margin: 0;
    }
  }

  & ~ #page-body {
    margin-top: $jumbotron-height + 30px;
    @include media('<tablet') {
      margin-top: $jumbotron-small-height + 30px;
    }

    p {
      font-weight: 300;
    }
  }

}