@import "util";

#main-content .blog-post {
  display: block;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  word-wrap: break-word;
  background-color: $main-section-highlight-color;
  padding: 20px;
  border-radius: 3px;

  * {
    @include box-sizing(border-box);
  }

  & > *:first-child {
    margin-top: 0 !important;
  }

  & > *:last-child {
    margin-bottom: 0 !important;
  }

  a:active, a:hover {
    outline: 0;
  }
   a:hover, a:focus, a:active {
    text-decoration: underline;
  }

  b, strong {
    font-weight: bold;
  }

  mark {
    background: #ff0;
    color: $font-color;
    font-style: italic;
    font-weight: bold;
  }

  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 15px;
    position: relative;
    font-weight: bold;
  }
  h1 {
    font-size: 3.5rem;
    font-weight: 900;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 1.2;
    margin-bottom: 20px;

  }
  h2 {
    font-size: 21px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    line-height: 1.225;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  h3 {
    font-size: 16px;
    line-height: 1.43;
  }
  h4 {
    font-size: 14px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 11px;
  }


  // LISTS
  ul {
    padding-left: 40px;

    li { list-style-type: disc; }
    ul li { list-style-type: circle; }
  }

  ol ol,
  ul ol {
    list-style-type: lower-roman;
  }
  ul ul ol,
  ul ol ol,
  ol ul ol,
  ol ol ol {
    list-style-type: lower-alpha;
  }
  ul, ol {
    padding: 0 0 0 2em;
    margin-top: 0;
    margin-bottom: 0;
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }


  li > p {
    margin-top: 16px;
    margin-bottom: 0;
  }

  p, blockquote, ul, ol, dl, table {
    margin-top: 0;
    margin-bottom: 16px;
  }


  img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
  }

  hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td, th {
    padding: 0;
  }

  hr {
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;

    height: 4px;
    padding: 0;
    margin: 16px 0;

    &:before, &:after {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }
  }

  blockquote {
    margin: 0;
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;

    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
    border-color: $nav-color;
    border-collapse: collapse;
    border-spacing: 0;

    hr {
      box-sizing: content-box;
      height: 0;
    }

    th, td {
      padding: 6px 13px;
      border: 1px solid $nav-color;
    }
    th {
      font-weight: bold;
      text-align: center;
    }
    tr {
      background-color: $main-section-color;
    }

    tr:nth-child(2n) {
      background-color: rgba(65, 65, 66, 0.7);
    }
  }

  input {
    font: 13px Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: normal;
    color: inherit;
    margin: 0;
  }

  $checkbox-size: 20px;
  input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    width: $checkbox-size;
    height: $checkbox-size;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
  }
  input[type='checkbox']:checked {
    background: #abd;
  }
  input[disabled] {
    cursor: default;
  }

}
