@import "util";

$schd-table-total-row-height: 50px;
$schd-table-border-height: 1px;
$schd-table-dow-total-row-height: 25px;
$schd-table-dow-row-padding: 5px;
$schd-table-dow-line-height: $schd-table-dow-total-row-height - 2*$schd-table-dow-row-padding;
$schd-font-size: 13px;

$schd-table-width: 650px;
$schd-table-time-col-width: 70px;
$schd-table-dow-col-width: ($schd-table-width - $schd-table-time-col-width) / 5;

$schd-input-indent: 30px;

.schedule {
  width: $schd-table-width;
  margin: 0 0 40px 0;
  padding: 0;
  font-family: "HelveticaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $schd-font-size;
  line-height: $schd-table-dow-line-height;
  color: $light-black;
  background-color: white;
}

.schedule-table {
  position: relative;
  margin-top: 20px;

  table {
    width: $schd-table-width;
    table-layout: fixed;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0;
  }

  td, th {
    padding: 0;
    box-sizing: border-box;
    line-height: $schd-table-dow-line-height;
    text-align: left;
    vertical-align: top;
  }

  thead th {
    width: $schd-table-dow-col-width;
    padding: $schd-table-dow-row-padding;
    background: $off-black;
    color: white;
    text-align: center;
    vertical-align: bottom;
    -webkit-print-color-adjust: exact;
    border-radius: 0;
  }

  thead th.time {
    width: $schd-table-time-col-width;
  }

  tbody {
    td, th {
      border-bottom: $schd-table-border-height solid $fifty-percent-gray;
      border-right: $schd-table-border-height solid $fifty-percent-gray;
    }

    td {
      background: $schd-back-color;
    }

    th {
      line-height: $schd-table-total-row-height - $schd-table-border-height;
      height: $schd-table-total-row-height - $schd-table-border-height;
      text-align: center;
      background: $schd-left-color;
      white-space: nowrap;
      border-left: $schd-table-border-height solid $fifty-percent-gray;
      font-weight: normal;
    }
  }

  .course-name {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    width: $schd-table-dow-col-width - 1;
    display: inline-block;
  }

  .course-text {
    display: table-cell;
    vertical-align: middle;
  }

  .dayM, .dayT, .dayW, .dayR, .dayF {
    position: absolute;
    width: $schd-table-dow-col-width + 1;
    top: 0;
    text-align: center;
    box-sizing: border-box;
    display: table;
  }

  @mixin day-left($day-num) {
    left: $schd-table-time-col-width + ($day-num - 1)*$schd-table-dow-col-width;
  }

  .dayM {  @include day-left(1);  }
  .dayT {  @include day-left(2);  }
  .dayW {  @include day-left(3);  }
  .dayR {  @include day-left(4);  }
  .dayF {  @include day-left(5);  }

  .color0 {
    border: $schd-table-border-height solid color("blue", "darken-4");
    background-color: color("blue", "base");
    color: $light-white;
  }
  .color1 {
    border: $schd-table-border-height solid color("amber", "darken-4");
    background-color: color("amber", "base");
    color: $light-black;
  }
  .color2 {
    border: $schd-table-border-height solid color("red", "darken-4");;
    background-color: color("red", "base");;
    color: $light-white;
  }
  .color3 {
    border: $schd-table-border-height solid color("green", "darken-4");
    background-color: color("green", "base");
    color: $light-black;
  }
  .color4 {
    border: $schd-table-border-height solid color("purple", "darken-4");;
    background-color: color("purple", "base");
    color: $light-white;
  }
  .color5 {
    border: $schd-table-border-height solid color("teal", "darken-4");
    background-color: color("teal", "base");
    color: $light-white;
  }
  .color6 {
    border: $schd-table-border-height solid color("pink", "darken-4");
    background-color: color("pink", "base");
    color: $light-white;
  }
}

.schedule-table thead tr > th:first-child {
  border-left: 1px solid #292929;
}

.schedule-table thead tr > th:last-child {
  border-right: 1px solid #292929;
}

div#schedule-wrapper {
  margin-top: $schd-input-indent;
  width: 621px;
  color: color("red", "lighten-1");
}

//====================
//SCHEDULER INPUT
//====================

div.schd-sessions {
  float: left;

}

div.schd-session {
  margin-top: 10px;
  background-color: #4a4a4a;
  position: relative;

  &:not(:first-child) {
    margin-left: 16.66666667%;
  }
}

div.schd-section-time-dow {
  display: inline-block;
  width: 25px;
  text-align: center;
}

label.schd-section-time-dow {
  float: left;
  margin-right: 15px;
}

#schd-courses {
  div.schd-course {
    margin-top: $schd-input-indent;
    background-color: $schd-course-color;
    padding: 15px;
    position: relative;

    .input-field label.course-name {
      left: 0;
    }

    div.schd-sections {
      margin-left: 50px;
      margin-right: 0;

      div.schd-section {
        padding: 25px 15px 15px 15px;
        margin-bottom: 15px;
        position: relative;
        background-color: $schd-section-color;

        & > .row {
          margin-right: 5px;
        }

        div.schd-sessions {

          div.schd-session {
            margin-left: 0;
            padding: 15px 0 15px 15px;

            & > .dow-wrapper,
            & > .start-time,
            & > .end-time {
              min-width: 155px;
              padding: 0;
              height: 100%
            }

            .start-time, .end-time {
              margin-top: 15px;
            }

            select {
              color: $nav-color;
            }

            select.ampm {
              background-color: $subtitle-color;
            }
          }
        }
      }

      button.schd-add-section {
        margin-top: 20px;
      }
      button.schd-rmv-section {
        margin-top: 20px;
      }

    }
  }
}

#make-schedules {
  margin-top: 75px;
  background-color: color("orange", "base");
}





