$toggle-height-units: 8;

$toggle-margin: 10px;
$toggle-length: $masthead-height-small - (2 * $toggle-margin);
$toggle-bar-height:  $toggle-length * (2 / $toggle-height-units);
$toggle-bar-spacing: $toggle-length * (1 / $toggle-height-units);

#toggle {
  width: $toggle-length;
  height: $toggle-length;
  margin: $toggle-margin;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

#toggle div {
  width: 100%;
  height: $toggle-bar-height;
  margin-bottom:$toggle-bar-spacing;
  background: white;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle.on .one {
  transform: rotate(45deg) translate($toggle-bar-height, $toggle-bar-height);
}

#toggle.on .two {
  opacity: 0;
}


$right: $toggle-bar-height + 1;
$down: -1 * ( $toggle-bar-height - 0 );

#toggle.on .three {
  transform: rotate(-45deg) translate($right, $down);
}


@media(min-width:768px) {
  #toggle {
    display: none;
  }
}
