<div class="schd-course col s12">

    <div class="row">
        <div class="col l6 m8 s12">
            <div class="input-field">
                <input id="course1" type="text" class="course-name" required/>
                <label for="course1">Course #</label>
            </div>
        </div>
    </div>

    <div class="schd-sections row">
        <div class="schd-section col s12">
            <div class="row">
                <div class="sec-num input-field col l2 s3">
                    <input id="course1-section1" type="text" class="sec-num" required/>
                    <label for="course1-section1">Section #</label>
                </div>
                <div select-time class="schd-section-times col l10 s9"></div>
            </div>

            <div class="row" style="margin-bottom: 0">
                <div class="col s12">
                    <button class="btn btn-default schd-add-section">+</button>
                </div>
            </div>

            <div class="close-wrapper schd-rmv-section">
                <div class="zp-close"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <button class="btn btn-default schd-add-course">+</button>
        </div>
    </div>

    <div class="close-wrapper">
        <div class="zp-close schd-rmv-course"></div>
    </div>
</div>