<div class="schd-session row z-depth-1">

    <div class="col s12">

        <div class="dow-wrapper row">
            <div ng-repeat="day in days">
                <input class="schd-session-dow"
                       type="checkbox"
                       id="course1-section1-time1-{{day}}"/>
                <label for="course1-section1-time1-{{day}}"
                       class="schd-section-time-dow">{{ day }}</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field start-time col s6">
                <label for="course1-section1-time1-start">Start Time</label>
                <input id="course1-section1-time1-start" class="timepicker" type="time">
            </div>

            <div class="input-field end-time col s6">
                <label for="course1-section1-time1-end">End Time</label>
                <input id="course1-section1-time1-end" class="timepicker" type="time">
            </div>
        </div>

        <div class="row" style="margin-bottom: 0">
            <div class="col s12">
                <button class="btn btn-default schd-add-time">+</button>
            </div>
        </div>


    </div>


    <div class="close-wrapper">
        <div class="zp-close schd-rmv-time"></div>
    </div>

</div>