<div class="schd-course">

    <label style="font-size: 25px">Course</label>
    <float-input class="course-name" hint="Course Name"></float-input>

    <div class="schd-sections">
        <div class="schd-section alt">
            <float-input class="sec-num" hint="Section #"></float-input>

            <div class="schd-section-times col-md-6">
                <div select-time></div>
                <button class="btn btn-default schd-add-time">Add Time</button>
                <button class="btn btn-default schd-rmv-time">Remove Time</button>
            </div>
            <br>
            <div class="clear"></div>
        </div>

        <button class="btn btn-default schd-add-section">Add Section</button>
        <button class="btn btn-default schd-rmv-section">Remove Section</button>
    </div>
</div>